@model List<PharmaKitViewModel>
@{
    Layout = null;
}
<style>
    td {
        padding: 5px;
    }

    .table {
        margin-left: 1px;
        margin-right: 1px;
    }

        .table > thead > tr > th {
            text-transform: none;
            font-weight: bold;
        }

    .ui-dialog {
        top: 60px !important;
    }
</style>
@using (Html.BeginForm("AddModifyKitItems", "PharmaKit", FormMethod.Post, new { id = "kitForm", onsubmit = "return SubmitPharmaKitForm(this);" }))
{
    @Html.HiddenFor(model => model[0].PKitID, new { @id = "PKitID" })
    <div class="form-horizontal">
        <div class="astriskNote"><span></span></div>
        <div class="row">
            <div class="form-group required">
                @Html.LabelFor(model => model[0].PKitName, "Package:", new { @class = "control-label col-md-2" })
                <div class="col-sm-2">
                    @*@Html.DisplayFor(model => model[0].PKitName, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.EditorFor(model => model[0].PKitName, new { htmlAttributes = new { @id = "PKitName", @class = "form-control" } })
                </div>
                @Html.LabelFor(model => model[0].PKitCost, "Cost:", new { @class = "control-label col-md-2" })
                <div class="col-sm-2">
                    @Html.EditorFor(model => model[0].PKitCost, new { htmlAttributes = new { @id = "PKitCost", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model[0].PKitCost)
                </div>
            </div>
        </div>
        <div class="row" style="border: 1px;">
            <table class="table table-striped table-bordered" id="itemTable">
                <thead>
                    <tr>
                        <th style="width:80%">Medicine</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            @Html.EditorFor(model => model[0].InputMedicine, new { htmlAttributes = new { @id= "MedicineWithDose", @class = "form-control" } })
                            @Html.HiddenFor(model => model[0].MedicineID, new { @id = "MedicineID" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model[0].InputQuantity, new { htmlAttributes = new { @id = "InputQuantity", Value = Model[0].InputQuantity > 0 ? Model[0].InputQuantity.ToString() : string.Empty, @class = "form -control" } })*@
                        </td>
                        <td><span class="btn btn-success fa fa-plus-circle" style="padding: 0px 3px" id="btnAdd"></span></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PharmaKitViewModel p in Model)
    {
                <tr>
                    <td style="display:none">@p.MedicineID</td>
                    <td>@p.MedicineWithDose</td>
                    <td>
                        @Html.EditorFor(model => p.Quantity, new { htmlAttributes = new { Value = p.Quantity > 0 ? p.Quantity.ToString() : string.Empty, @class = "form-control orderedQty" } })
                    </td>
                    <td><span class="btn btn-danger fa fa-trash" style="padding: 0px 3px" onclick="remove(this)"></span></td>
                </tr>
}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-3 col-md-offset-5">
                    <input type="submit" value="Submit" id="btnSubmit" class="btn btn-primary" />
                    <input type="reset" value="Reset" class="btn" />
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
            $(function () {
                $('#btnAdd').click(function () {
                    var form = $("#kitForm")
                    $.validator.unobtrusive.parse(form);
                    if ($(form).valid()) {
                        $('table#itemTable > tbody').append('<tr>' +
                            '<td style="display:none">' + $('#MedicineID').val() + '</td>' + // MedicineID
                            '<td>' + $('#MedicineWithDose').val() + '</td>' + // medicine
                            '<td><input value="' + $('#InputQuantity').val() + '" class="form-control orderedQty text-box single-line" data-val="true" data-val-number="The field Quantity must be a number." data-val-required="Please enter quantity" id="p_Quantity" name="p.Quantity" type="number"></td>' + // order qty
                            '<td><span class="btn btn-danger fa fa-trash" style="padding: 0px 3px" onclick = "remove(this)"></span></td>' +
                            '</tr>');
                        clearInputs();
                    }
                    return false;
                });

                $('#btnSubmit').click(function () {
                    if (($('#kitForm').find('table#itemTable > tbody tr').length > 0)) {
                        $('.orderedQty').each(function () {
                            if ($(this).val() == null || $(this).val() == '') {
                                $(this).attr('data-val-required', 'true');
                                $(this).addClass('single-line input-validation-error');
                                $('form').removeData('validator');
                                $('form').removeData('unobtrusiveValidation');
                                $.validator.unobtrusive.parse('body');
                            }
                        });
                    }    
                });

                $("#MedicineWithDose").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/PurchaseOrder/GetMedicines",
                            type: "POST",
                            dataType: "json",
                            data: { Prefix: request.term },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.MedicineDisplay,
                                        value: item.MedicineDisplay,
                                        id: item.MMID
                                    };
                                }))
                            },
                            error: function () {
                                alert('something went wrong !');
                            }
                        })
                    },
                    select: function (e, i) {
                        $("#MedicineID").val(i.item.id);
                    },
                    minLength: 1
                });
            });

            function remove(e) {
                $(e).closest('tr').remove();
                if ($('#kitForm tr').length < 3)
                    $('#btnSubmit').addClass('disabled');
            }

            function clearInputs() {
                $('#MedicineWithDose').val('');
                $('#InputQuantity').val('');
                $('#btnSubmit').removeClass('disabled');
            }
</script>
