<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | SRAVANTHI HIS</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/chosen.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/his_customstyles.css" rel="stylesheet" />
    <link href="~/Content/jquery.loadingModal.min.css" rel="stylesheet" />
    <style type="text/css">
        .his-site-header {
            padding: 12.5px !important;
            background-color: #fff !important;
            border-bottom: solid 1px #e3e1e1 !important;
        }

        .page-container.sidebar-collapsed .site-header {
            padding: 18px !important;
        }

        .his-icon-side-menu {
            color: #212529 !important
        }

        .required.control-label:after {
            content: "*";
            color: red;
        }
        .astriskNote
        {
            text-align:right;
        }
            .astriskNote::after {
                text-align: right;
                content: "(*) marked fields are mandatory";
                color: red;
                font-size: x-small;
            }

    </style>
</head>
<body >
    <!-- Page container -->
    <div class="page-container sidebar-collapsed">
        <!-- Page Sidebar -->
        <div class="page-sidebar collapsed">

            <!-- Site header  -->
            <header class="site-header his-site-header">
                <div class="site-logo"><a href="index.html"><img src="~/light/images/hms_logo_menu.png" alt="Mouldifi" title="Mouldifi"></a></div>
                <div class="sidebar-collapse hidden-xs"><a data-target="#side-nav" class="sidebar-collapse-icon" href="#"><i class="fa fa-bars his-icon-side-menu"></i></a></div>
                <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#"><i class="fa fa-bars his-icon-side-menu"></i></a></div>
            </header>
            <!-- /site header -->
            <!-- Main navigation -->
            <ul id="side-nav" class="main-menu navbar-collapse collapsed">
                <li class="has-sub">
                    <a href="@Url.Action("Index", "Home")"><i class="icon-home"></i><span class="title">Home</span></a>
                    <ul class="nav">
                        @if (ViewContext.Controller.HasPermission("Home-index"))
                        {
                            <li><a href="@Url.Action("Index", "Home")"><span class="title">Dashboard</span></a></li>
                        }
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="@Url.Action("Index", "InPatient")"><i class="fa fa-wheelchair" style="padding-left:5px"></i><span class="title">Patients</span></a>
                    <ul class="nav">
                        @if (ViewContext.Controller.HasPermission("InPatient-index"))
                        {
                            <li><a href="@Url.Action("Index", "InPatient")"><span class="title">I/P Profile</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("OutPatient-index"))
                        {
                            <li><a href="@Url.Action("Index", "OutPatient")"><span class="title">O/P Profile</span></a></li>
                        }
                    </ul>
                </li>
                @*<li class="has-sub">
                        <a href="@Url.Action("Index", "Rooms")"><i class="fa fa-bed" style="padding-left:5px"></i><span class="title">Room Managment</span></a>
                        <ul class="nav">
                            <li><a href="@Url.Action("Index", "Rooms")"><span class="title">Rooms</span></a></li>
                            <li><a href="@Url.Action("Index", "Beds")"><span class="title">Bed Management</span></a></li>
                        </ul>
                    </li>*@
                <li class="has-sub">
                    <a href="@Url.Action("Index", "MedInventory")"><i class="fa fa-medkit" style="padding-left:5px"></i><span class="title">Pharmacy</span></a>
                    <ul class="nav">
                        @if (ViewContext.Controller.HasPermission("PurchaseOrder-index"))
                        {
                            <li><a href="@Url.Action("Index", "PurchaseOrder")"><span class="title">Purchase Orders</span></a></li>
                        }
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="index.html"><i class="icon-chart-bar"></i><span class="title">Reports</span></a>
                    <ul class="nav">
                        @if (ViewContext.Controller.HasPermission("Revenuerpt-index"))
                        {
                    <li class="active"><a href="@Url.Action("Index", "Revenuerpt")"><span class="title">Revenue Report</span></a></li>
                        }
                    @if (ViewContext.Controller.HasPermission("InventoryRpt-index"))
                    {
                    <li><a href="@Url.Action("Index", "InventoryRpt")"><span class="title">Inventory Report</span></a></li>
                    }
                    </ul>
                </li>
                <li class="has-sub active">
                    <a href="@Url.Action("Index", "User")"><i class="icon-lock"></i><span class="title">Admin</span></a>
                    <ul class="nav">
                        @if (ViewContext.Controller.HasPermission("User-index"))
                        {
                            <li class="active"><a href="@Url.Action("Index", "User")"><span class="title">Users</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("BloodGroup-index"))
                        {
                            <li><a href="@Url.Action("Index", "BloodGroup")"><span class="title">Blood Groups</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("UserType-index"))
                        {
                            <li><a href="@Url.Action("Index", "UserType")"><span class="title">User Types</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("Permissions-index"))
                        {
                            <li><a href="@Url.Action("Index", "Permissions")"><span class="title">Permissions</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("RolePermissions-index"))
                        {
                            <li><a href="@Url.Action("Index", "RolePermissions")"><span class="title">User Permissions</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("Specialization-index"))
                        {
                            <li><a href="@Url.Action("Index", "Specialization")"><span class="title">Specialization</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("Intakes-index"))
                        {
                            <li><a href="@Url.Action("Index", "Intakes")"><span class="title">Intake Frequency</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("Brand-index"))
                        {
                            <li><a href="@Url.Action("Index", "Brand")"><span class="title">Brands</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("BrandCategory-index"))
                        {
                            <li><a href="@Url.Action("Index", "BrandCategory")"><span class="title">Brand Categories</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("BedType-index"))
                        {
                            <li><a href="@Url.Action("Index", "BedType")"><span class="title">Bed Type</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("RoomType-index"))
                        {
                            <li><a href="@Url.Action("Index", "RoomType")"><span class="title">Room Type</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("Rooms-index"))
                        {
                            <li><a href="@Url.Action("Index", "Rooms")"><span class="title">Rooms</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("Beds-index"))
                        {
                            <li><a href="@Url.Action("Index", "Beds")"><span class="title">Bed Management</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("ConsultType-index"))
                        {
                            <li><a href="@Url.Action("Index", "ConsultType")"><span class="title">Consultations</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("ConsultationFee-index"))
                        {
                            <li><a href="@Url.Action("Index", "ConsultationFee")"><span class="title">Consultation Fee</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("MedicineMaster-index"))
                        {
                            <li><a href="@Url.Action("Index", "MedicineMaster")"><span class="title">Medicines</span></a></li>
                        }
                        @if (ViewContext.Controller.HasPermission("Lab-index"))
                        {
                            <li><a href="@Url.Action("Index", "Lab")"><span class="title">Lab Tests</span></a></li>
                        }
                    </ul>
                </li>
            </ul>
            <!-- /main navigation -->
        </div>
        <!-- /page sidebar -->
        <!-- Main container -->
        <div class="main-container"  style="background:url(light/images/bg-his_logo.png);background-size:cover;background-repeat:no-repeat;background-position:center center;">
            <!-- Main header -->
            <div class="main-header row">
                <div class="col-sm-6 col-xs-7">
                    <!-- User info -->
                    <ul class="user-info pull-left">
                        <li class="profile-info dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">@Session["UserName"]<span class="caret"></span></a>
                            <!-- User action menu -->
                            <ul class="dropdown-menu">
                                <li><a href="#/"><i class="icon-user"></i>My profile</a></li>
                                <li><a href="../../Login/LogOut"><i class="icon-logout"></i>Logout</a></li>
                            </ul>
                            <!-- /user action menu -->
                        </li>
                    </ul>
                    <!-- /user info -->
                </div>
                <div class="col-sm-6 col-xs-5">
                    <div class="pull-right">
                        <!-- User alerts -->
                        <ul class="user-info pull-left">
                            <!-- Notifications -->
                            <li class="notifications dropdown">
                            </li>
                            <!-- /notifications -->
                            <!-- Messages -->
                            <li class="notifications dropdown">
                                <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-mail"></i><span class="badge badge-secondary">12</span></a>
                                <ul class="dropdown-menu pull-right">
                                    <li class="first">
                                        <div class="dropdown-content-header"><i class="fa fa-pencil-square-o pull-right"></i> Messages</div>
                                    </li>

                                    <li class="external-last"> <a class="danger" href="#">All Messages</a> </li>
                                </ul>
                            </li>
                            <!-- /messages -->
                        </ul>
                        <!-- /user alerts -->
                    </div>
                </div>
            </div>
            <!-- /main header -->
            <!-- Main content -->
            <div class="main-content">               
                @RenderBody()
            </div>
            <!-- /main content -->
        </div>
        <!-- /main container -->
    </div>
    <!-- /page container -->
    <!--Load JQuery-->
    <!-- Footer -->
    <footer class="footer-main">
        &copy; 2017 <strong>Hospital Information System</strong><a target="_blank" href="#/"></a>
    </footer>
    <!-- /footer -->
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/gridmvc.min.js"></script>
    <script src="~/light/js/plugins/metismenu/jquery.metisMenu.js"></script>
    <script src="~/light/js/plugins/blockui-master/jquery-ui.js"></script>
    <script src="~/light/js/plugins/blockui-master/jquery.blockUI.js"></script>
    <script src="~/light/js/functions.js"></script>
    <script src="~/light/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/light/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/light/js/plugins/datatables/dataTables.responsive.min.js"></script>
    <link href="~/light/js/plugins/datatables/responsive.dataTables.min.css" rel="stylesheet" />
    <script src="~/light/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/light/js/plugins/datatables/jszip.min.js"></script>
    <script src="~/light/js/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/light/js/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/light/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
    <script src="~/light/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
    <link href="~/light/js/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/light/js/plugins/datatables/extensions/Buttons/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <link href="~/light/css/plugins/datepicker/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/moment.js"></script>
    <script src="~/light/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/light/js/printThis.js"></script>
    <script src="~/Scripts/jquery.loadingModal.min.js"></script>
    
    <script>
        $(document).ready(function () {
            $('#tabs a').click(function () {
                //Removes the active class from any <li> elements
                $('#tabs li.active').removeClass('active');
                //Adds it to the current element
                $(this).parent('li').addClass('active');
            });

            $("input[data-val-required]").parent("label").addClass("required");
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

