
@{
    ViewBag.Title = "OP";
}

<style type="text/css">
    .lableDisplay {
        padding-top: 8px;
        color: #32CD32;
        font-weight: bold;
    }

    .ui-dialog {
        top: 60px !important;
    }

    /*.his-consultation-calendar {
        background-color: #BA55D3;
        border-color: #BA55D3;
    }*/
</style>
<!-- Breadcrumb -->
<ol class="breadcrumb breadcrumb-2">
    <li><a href="index.html"><i class="glyphicon-cog"></i>Patients</a></li>
    <li class="active"><strong>Out Patients</strong></li>
</ol>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                @*<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddModify","OutPatient")',0)"><i class="fa fa-plus"></i> Out Patient</a>*@
                <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddModify","OutPatient")',0)">Create Out-Patient</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="outPatientsTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>ENMRNO</th>
                                <th>Name</th>
                                @*<th>DOB</th>*@
                                @*<th>Gender</th>*@
                                <th>Phone</th>
                                <th>Doctor</th>
                                <th>Enrolled</th>
                                <th>Prev ENMR</th>
                                @*<th>Valid Till</th>*@
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
        var Popup, dataTable, viewPatient, newVisit, prescription, deliverPopUp;
        $(document).ready(function () {
            dataTable = $("#outPatientsTable").DataTable({
                "ajax": {
                    "url": "/OutPatient/GetOutPatients",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ENMRNO" },
                    { "data": "Name" },
                    //{ "data": "DOBDisplay" },
                    //{ "data": "GenderDisplay" },
                    { "data": "Phone" },
                    { "data": "DoctorName" },
                    { "data": "EnrolledDisplay" },
                    { "data": "PrevENMR" },
                    //{ "data": "ValidDateDisplay" },
                    {
                        "data": "ENMRNO", "render": function (data) {
                            return "@if (His_ExtendedMethods.HasPermissionPage("OutPatient-AddModify"))
                            {<a class='btn btn-default btn-sm' title='Edit' onclick=PopupForm('@Url.Action("AddModify","OutPatient")/?enmrNo=" + data + "',1)><i class='fa fa-user-edit his-fa-size'></i></a>}"
                                + "@if (His_ExtendedMethods.HasPermissionPage("OutPatient-ViewPatient")){
                                    <a class='btn btn-info btn-sm' title = 'View Patient' style = 'margin-left:5px' onclick = PopupViewPatient('@Url.Action("ViewPatient", "OutPatient")/?enmrNo=" + data + "')><i class='fa fa-info-circle his-fa-size'></i></a>}"
                                + "@if (His_ExtendedMethods.HasPermissionPage("OutPatient-NewVisit")){
                                    <a class='btn btn-primary btn-sm' title='Consultation' style='margin-left:5px' onclick=PopupNewVisit('@Url.Action("NewVisit", "OutPatient")/?enmrNo=" + data + "')> <i class='fa fa-calendar his-fa-size'></i></a>}"
                                + "@if (His_ExtendedMethods.HasPermissionPage("OutPatient-OPPrescription")){
                                    <a class='btn btn-primary btn-sm' title='Prescription' style='margin-left:5px' onclick=PopupPrescription('@Url.Action("OPPrescription", "OutPatient")/?enmrNo=" + data + "')><i class='fa fa-prescription his-fa-size'></i></a>}"
                                + "@if (His_ExtendedMethods.HasPermissionPage("OutPatient-DeliverPrescription")){
                                    <a class='btn btn-primary btn-sm' title='Deliver Prescription' style='margin-left:5px' onclick=PopupDeliverPrescription('@Url.Action("DeliverPrescription", "OutPatient")/?enmrNo=" + data + "')><i class='fa fa-prescription-bottle-alt his-fa-size'></i></a>}"
                                + "@if (His_ExtendedMethods.HasPermissionPage("OutPatient-Admission")){
                                    <a class='btn btn-primary btn-sm' title='Admit as IP' style='margin-left:5px' onclick=PopupAdmissionForm('@Url.Action("Admission", "OutPatient")/?enmrNo=" + data + "')><i class='fa fa-hospital his-fa-size'></i></a>}"
                                + "@if (His_ExtendedMethods.HasPermissionPage("OutPatient-ManualDrugRequest")){
                                    <a class='btn btn-primary btn-sm' title='Manual Drug Request' style='margin-left:5px' onclick=PopupMDRForm('@Url.Action("ManualDrugRequest", "OutPatient")/?enmrNo=" + data + "')><i class='fa fa-capsules his-fa-size'></i></a>}"
                                + "@if (His_ExtendedMethods.HasPermissionPage("OutPatient-PatientTests")){
                                    <a class='btn btn-primary btn-sm' title='Lab Test Upload' style='margin-left:5px' onclick=PopupPatientTests('@Url.Action("PatientTests", "OutPatient")/?enmrNo=" + data + "')><i class='fa fa-flask his-fa-size'></i></a>}"
                                + "@if (His_ExtendedMethods.HasPermissionPage("OutPatient-PatientScans")){
                                    <a class='btn btn-primary btn-sm' title='Scan Upload' style='margin-left:5px' onclick=PopupPatientScans('@Url.Action("PatientScans", "OutPatient")/?enmrNo=" + data + "')><i class='fa fa-tv his-fa-size'></i></a>}"

                                + "@if (His_ExtendedMethods.HasPermissionPage("OutPatient-LabTestBillPay")){
                                    <a class='btn btn-primary btn-sm' title='Scan Test Bill Payment' style='margin-left:5px' onclick=PopupScanTestBillPayForm('@Url.Action("opScanTestBillPay", "OutPatient")/?enmrNo=" + data + "')><i class='fab fa-cc-visa his-fa-size'></i></a>}"

                                + "@if (His_ExtendedMethods.HasPermissionPage("OutPatient-LabTestBillPay")){
                                    <a class='btn btn-primary btn-sm' title='Lab Test Bill Payment' style='margin-left:5px' onclick=PopupLabTestBillPayForm('@Url.Action("LabTestBillPay", "OutPatient")/?enmrNo=" + data + "')><i class='fa fa-credit-card his-fa-size'></i></a>}"
                                + "@if (His_ExtendedMethods.HasPermissionPage("OutPatient-PrintHistory")){
                                        <a class='btn btn-primary btn-sm' title='View & Print' style='margin-left:5px' onclick=PopupPrint('@Url.Action("PrintHistory", "OutPatient")/?enmrNo=" + data + "')><i class='fa fa-print his-fa-size'></i></a>}";

                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "35%"

                    }
                ],
                "order": [[0, "desc"]],
                "language": {
                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });

        function PopupForm(url, id) {
            $('body').loadingModal({ text: 'Loading...' });
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: true,
                    modal:true,
                    title: id == 0? 'Create Out Patient' : 'Edit Out Patient',
                    width: 850,
                    top: 147,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    },
                    open: function (event, ui) {
                        $('.ui-dialog-content').css('overflow', 'hidden');
                        $('body').loadingModal('destroy');
                    }
                });
            });
        }

        function PopupViewPatient(url) {
            $('body').loadingModal({ text: 'Loading...' });
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    viewPatient = formDiv.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: 'View Patient',
                        width: 850,
                        top: 161,
                        close: function () {
                            viewPatient.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
        }
        function PopupNewVisit(url) {
            $('body').loadingModal({ text: 'Loading...' });
            var newVisitDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    newVisitDiv.html(response);
                    newVisit = newVisitDiv.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: 'New Consultation',
                        width: '75%',
                        close: function () {
                            newVisit.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
        }

        function PopupPrescription(url) {
            $('body').loadingModal({ text: 'Loading...' });
            var newPrescription = $('<div/>');
            $.get(url)
                .done(function (response) {
                    newPrescription.html(response);
                    newPP = newPrescription.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: 'New Prescription',
                        width: 850,
                        close: function () {
                            newPP.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
        }

        function PopupPatientTests(url) {
            $('body').loadingModal({ text: 'Loading...' });
            var newPTDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    newPTDiv.html(response);
                    newPT = newPTDiv.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: 'Lab Tests',
                        width: '75%',
                        close: function () {
                            newPT.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
        }

        function PopupPatientScans(url) {
            $('body').loadingModal({ text: 'Loading...' });
            var newPTDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    newPTDiv.html(response);
                    newPT = newPTDiv.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: 'Scan Tests',
                        width: '75%',
                        close: function () {
                            newPT.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
        }

        function PopupMDRForm(url) {
            $('body').loadingModal({ text: 'Loading...' });
            var newMDR = $('<div/>');
            $.get(url)
                .done(function (response) {
                    newMDR.html(response);
                    MDRpopup = newMDR.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: 'Manual Drug Request',
                        width: '65%',
                        close: function () {
                            MDRpopup.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
        }

        function PopupDeliverPrescription(url) {
            $('body').loadingModal({ text: 'Loading...' });
            var deliverPrescription = $('<div/>');
            $.get(url)
                .done(function (response) {
                    deliverPrescription.html(response);
                    deliverPopUp = deliverPrescription.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: 'Deliver Prescription',
                        width: '80%',
                        close: function () {
                            deliverPopUp.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
        }

        function PopupLabTestBillPayForm(url) {
            $('body').loadingModal({ text: 'Loading...' });
            var billPay = $('<div/>');
            $.get(url)
                .done(function (response) {
                    billPay.html(response);
                    billPayPopUp = billPay.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: 'Lab Test Bill Payment',
                        width: '70%',
                        close: function () {
                            billPayPopUp.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
        }

        function PopupScanTestBillPayForm(url) {
            $('body').loadingModal({ text: 'Loading...' });
            var billPay = $('<div/>');
            $.get(url)
                .done(function (response) {
                    billPay.html(response);
                    billPayPopUp = billPay.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: 'Scan Test Bill Payment',
                        width: '70%',
                        close: function () {
                            billPayPopUp.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
        }

        function PopupAdmissionForm(url) {
            if (confirm('Are You Sure to take Admission?')) {
                $('body').loadingModal({ text: 'Loading...' });
                var admission = $('<div/>');
                $.get(url)
                    .done(function (response) {
                        admission.html(response);
                        admissionPP = admission.dialog({
                            autoOpen: true,
                            resizable: true,
                            modal: true,
                            title: 'Admission',
                            width: '30%',
                            close: function () {
                                admissionPP.dialog('destroy').remove();
                            },
                            open: function (event, ui) {
                                $('.ui-dialog-content').css('overflow', 'hidden');
                                $('body').loadingModal('destroy');
                            }
                        });
                    });
            }
        }

        // Submit Print button
        function PopupPrint(url) {
            $('body').loadingModal({ text: 'Loading...' });
            var printDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    printDiv.html(response);
                    printdivPop = printDiv.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: 'Print Details',
                        width: 850,
                        top: 147,
                        close: function () {
                            printdivPop.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
        }

        function SubmitForm(form) {
            $.validator.setDefaults({
                ignore: []
            });
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $('body').loadingModal({ text: 'Processing...' });
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                        $('body').loadingModal('destroy');
                    }
                });
            }
           return false;
        }

        function SubmitConsultationForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $('body').loadingModal({ text: 'Processing...' });
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            newVisit.dialog('close');
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                        $('body').loadingModal('destroy');
                    }
                });
            }
            return false;
        }

        function SubmitPrescriptionForm(form) {
            $('body').loadingModal({ text: 'Processing...' });
            var ppItems = [];
            var enmrNo = $('#ENMRNO').val();
            var visitID = $('#VisitID').val();
            if ($(form).find('table#ppTable tr').length >= 3) {
                $('#MedicineWithDose').rules('remove', 'required');
                $('#Quantity').rules('remove', 'required');
                $('#IntakeFrequencyID').rules('remove', 'required');
                $('#ppTable > tbody tr').not(':first').each(function (index, elem) {
                    var tbl = {};
                    tbl.ENMRNO = enmrNo;
                    tbl.VisitID = visitID;
                    tbl.MedicineID = $($(this).find('td:eq(0)')).html();
                    tbl.MedicineWithDose = $($(this).find('td:eq(1)')).html();
                    tbl.Quantity = $($(this).find('td:eq(2)')).html();
                    tbl.IntakeFrequencyID = $($(this).find('td:eq(3)')).html();
                    tbl.Comments = $($(this).find('td:eq(5)')).html();
                    tbl.TestIds = $('#TestIds').val();
                    tbl.ScanIds = $('#ScanIds').val();
                    tbl.KitIds = $('#KitIds').val();
                    tbl.HasPrescription = true;
                    ppItems.push(tbl);
                });
            }
            else {
                $.validator.setDefaults({
                    ignore: []
                });
                var tbl = {};
                tbl.ENMRNO = enmrNo;
                tbl.VisitID = visitID;
                tbl.TestIds = $('#TestIds').val();
                tbl.ScanIds = $('#ScanIds').val();
                tbl.KitIds = $('#KitIds').val();
                tbl.HasPrescription = false;
                ppItems.push(tbl);
            }

            $(form).find('#headerDiv').append("</br><table><tr><td>ENMRNO: " + $('#ENMRNO').val() + "</td></tr><tr><td>Doctor: " + $('#DoctorName').val() + "</td></tr><tr><td>Visit & Date: " + $('#VisitName').val() + "</td></tr></table>");
            $(form).find('#headerDiv').append($(form).find('#ppTable'));
            $('#fstRow').closest('tr').remove();
            $('#thd').find('th:last').remove();
            $("#tbd tr").each(function () {
                $(this).find('td:last').remove();
            });
            var option_all = '';
            if ($('#TestIds').val() != null) {
                option_all = $("#TestIds option:selected").map(function () {
                    return $(this).text();
                }).get().join(',');
            }

            if ($('#KitIds').val() != null) {
                option_all = $("#KitIds option:selected").map(function () {
                    return $(this).text();
                }).get().join(',');
            }
            var str_array = option_all.split(',');
            var tbodyTR = '';
            var tbodtTD = '';
            for (var i = 0; i < str_array.length; i++) {
                tbodtTD += '<tr><td>'+str_array[i].replace(/^\s*/, "").replace(/\s*$/, "")+'</td></tr>'
            }
            tbodyTR +=  tbodtTD;
            $(form).find('#headerDiv').append("</br><table class='table table-striped table-bordered'><thead><tr><td>Test Name</td></tr></thead><tbody>" + tbodyTR + "</tbody></table>");


            var option_all1 = $("#ScanIds option:selected").map(function () {
                return $(this).text();
            }).get().join(',');

            var str_array1 = option_all1.split(',');
            var tbodyTR1 = '';
            var tbodtTD1 = '';
            for (var i = 0; i < str_array1.length; i++) {
                tbodtTD1 += '<tr><td>' + str_array1[i].replace(/^\s*/, "").replace(/\s*$/, "") + '</td></tr>'
            }
            tbodyTR1 += tbodtTD1;
            $(form).find('#headerDiv').append("</br><table class='table table-striped table-bordered'><thead><tr><td>Scan Name</td></tr></thead><tbody>" + tbodyTR1 + "</tbody></table>");




            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: form.action,
                data: JSON.stringify(ppItems),
                success: function (data) {
                    if (data.success) {
                        $('#headerDiv').printThis({
                            header: '<img src="http://localhost:50415/light/images/hms-logo_login.png" style="width:420px;" alt="Mouldifi" title="Sravanthi Hospitals">',
                            footer: false,
                            pageTitle: ""
                        });
                        newPP.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    $('body').loadingModal('destroy');
                }
            });
            return false;
        }

        function SubmitDeliverPrescriptionForm(form) {
            $('body').loadingModal({ text: 'Processing...' });
            var prescriptions = [];
            var enmrNo = $('#ENMRNO').val();
            var visitID = $('#VisitID').val();
            var discount = $('#Discount').val();
            var amountToBePaid = $('#paidAmount').html();
            var totalAmount = $('#grandTotal').html();
            var PmID = $('#PMID').val();
            $(form).find('#ppTable > tbody tr').each(function (index, elem) {
                var tbl = {};
                tbl.ENMRNO = enmrNo;
                tbl.VisitID = visitID;
                tbl.MedicineID = $($(this).find('td:eq(1)')).html();
                tbl.DeliverQty = $($(this).find('td:eq(4)')).find('.deliverQty').val();
                tbl.RequestQty = $($(this).find('td:eq(5)')).find('.reqQty').val();
                tbl.BatchNo = $($(this).find('td:eq(8)')).find('.batchNo').val();
                tbl.LotNo = $($(this).find('td:eq(9)')).find('.lotNo').val();
                tbl.Discount = discount;
                tbl.PaidAmount = amountToBePaid;
                tbl.TotalAmount = totalAmount;
                tbl.PMID = PmID;
                tbl.MedicineWithDose = 'demo';
                prescriptions.push(tbl);
            });
            $(form).find('#headerDivdp').append("</br><table><tr><td>ENMRNO: " + $('#ENMRNO').val() + "</td></tr><tr><td>Doctor: " + $('#DoctorName').val() + "</td></tr><tr><td>Visit: " + $('#VisitName').val() + "</td></tr><tr><td colspan='2'>Suggested Date: " + $('#DateDisplay').val() + "</td></tr></table>");
            $(form).find('#headerDivdp').append($(form).find('#ppTable'));

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: form.action,
                data: JSON.stringify(prescriptions),
                success: function (data) {
                    if (data.success) {
                        $('#headerDivdp').printThis({
                            header: '<img src="http://localhost:50415/light/images/hms-logo_login.png" style="width:420px;" alt="Mouldifi" title="Sravanthi Hospitals">',
                            footer: false,
                            pageTitle: ""
                        });
                        deliverPopUp.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    $('body').loadingModal('destroy');
                }
            });
            return false;
        }

        function SubmitMDRForm(form) {
            $('body').loadingModal({ text: 'Processing...' });
            var mdrRequest = [];
            $.validator.setDefaults({
                ignore: []
            });
            var enmrNo = $('#ENMRNO').val();
            var doctorID = $('#DoctorID').val();
            var discount = $('#Discount').val();
            var amountPaid = $('#paidAmount').html();
            var totalAmount = $('#grandTotal').html();
            $(form).find('#mdrTable > tbody tr').not(':first').each(function (index, elem) {
                var tbl = {};
                tbl.ENMRNO = enmrNo;
                tbl.DoctorID = doctorID,
                tbl.IsDelivered = true,
                tbl.VisitID = 0;
                tbl.MedicineID = $($(this).find('td:eq(0)')).html();
                tbl.IntakeFrequencyID = $($(this).find('td:eq(3)')).html();
                tbl.DeliverQty = $($(this).find('td:eq(2)')).html();
                tbl.Quantity = $($(this).find('td:eq(2)')).html();
                tbl.BatchNo = $($(this).find('td:eq(5)')).html();
                tbl.LotNo = $($(this).find('td:eq(6)')).html();
                tbl.Discount = discount;
                tbl.PaidAmount = amountPaid;
                tbl.TotalAmount = totalAmount;
                mdrRequest.push(tbl);
            });
            $(form).find('#headerDiv').append("</br><table><tr><td>ENMRNO: " + $('#ENMRNO').val() + "</td></tr><tr><td>Doctor: " + $("#PrescribedByID option:selected").text() + "</td></tr></table>");
            $(form).find('#headerDiv').append($(form).find('#mdrTable'));
            $('#fstRow').closest('tr').remove();
            $('#thd').find('th:last').remove();
            $('#tbd').find('td:last').remove();
            $("#ftr tr").each(function () {
                $(this).find("td").attr('colspan', 3);
            });


            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: form.action,
                data: JSON.stringify(mdrRequest),
                success: function (data) {
                    if (data.success) {
                        $('#headerDiv').printThis({
                            header: '<img src="http://localhost:50415/light/images/hms-logo_login.png" style="width:420px;" alt="Mouldifi" title="Sravanthi Hospitals">',
                            footer: false,
                            pageTitle: ""
                        });
                        MDRpopup.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    $('body').loadingModal('destroy');
                }
            });
            return false;
        }

        function SubmitLabTestForm(form) {
            $('body').loadingModal({ text: 'Processing...' });
            var patientTests = [];
            $.validator.setDefaults({
                ignore: []
            });
            var enmrNo = $('#ENMRNO').val();
            var ltmID = $('#LTMID').val();
            $(form).find('#ptTable > tbody tr').each(function (index, elem) {
                var tbl = {};
                tbl.ENMRNO = enmrNo;
                tbl.LTMID = ltmID,
                tbl.TestID = $($(this).find('td:eq(0)')).html();
                tbl.RecordedValues = $($(this).find('td:eq(2)').find('.recordValue')).val();
                tbl.TestDate = $($(this).find('td:eq(3)').find('.datepicker')).val(); _
                tbl.TestImpression = $($(this).find('td:eq(4)').find('.testImpression')).val(); _
                patientTests.push(tbl);
            });
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: form.action,
                data: JSON.stringify(patientTests),
                success: function (data) {
                    if (data.success) {
                        newPT.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    $('body').loadingModal('destroy');
                }
            });
            return false;
        }



        function SubmitScanTestForm(form) {
            var patientScans = [];
            $.validator.setDefaults({
                ignore: []
            });
            $('body').loadingModal({ text: 'Processing...' });
            var enmrNo = $('#ENMRNO').val();
            var ltmID = $('#STMID').val();
            $(form).find('#scanTable > tbody tr').each(function (index, elem) {
                var tbl = {};
                tbl.ENMRNO = enmrNo;
                tbl.STMID = ltmID,
                    tbl.ScanID = $($(this).find('td:eq(0)')).html();
                tbl.RecordedValues = $($(this).find('td:eq(2)').find('.recordValue')).val();
                tbl.ScanDate = $($(this).find('td:eq(3)').find('.datepicker')).val(); _
                tbl.TestImpression = $($(this).find('td:eq(4)').find('.testImpression')).val(); _
                patientScans.push(tbl);
            });
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: form.action,
                data: JSON.stringify(patientScans),
                success: function (data) {
                    if (data.success) {
                        newPT.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    $('body').loadingModal('destroy');
                }
            });
            return false;
        }


        function SubmitLabTestBillPayForm(form) {
            $('body').loadingModal({ text: 'Processing...' });
            var enmrNo = $(form).find('#ENMRNO').val();
            var ltmID = $(form).find('#LTMID').val();
            var discount = $(form).find('#Discount').val();
            var amountPaid = $(form).find('#paidAmount').html();
            var totalAmount = $(form).find('#grandTotal').html();
            var billPayModel = {};
            billPayModel.ID = ltmID;
            billPayModel.ENMRNO = enmrNo;
            billPayModel.TotalAmount = totalAmount;
            billPayModel.Discount = discount;
            billPayModel.PaidAmount = amountPaid;

            $(form).find('#headerDivbill').append("</br><table><tr><td>ENMRNO: " + $('#ENMRNO').val() + "</td></tr><tr><td >Doctor: " + $('#DoctorName').val() + "</td></tr><tr><td>Visit: " + $('#VisitName').val() + "</td></tr><tr><td>Suggested Date: " + $('#DateDisplay').val() + "</td></tr></table>");
            $(form).find('#headerDivbill').append($(form).find('#ptTable'));

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: form.action,
                data: JSON.stringify(billPayModel),
                success: function (data) {
                    if (data.success) {
                        $('#headerDivbill').printThis({
                            header: '<img src="http://localhost:50415/light/images/hms-logo_login.png" style="width:420px;" alt="Mouldifi" title="Sravanthi Hospitals">',
                            footer: false,
                            pageTitle: ""
                        });
                        billPayPopUp.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    $('body').loadingModal('destroy');
                }
            });
            return false;
        }

        function SubmitAdmissionForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $('body').loadingModal({ text: 'Processing...' });
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            admissionPP.dialog('close');
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                            window.location.href = '@Url.Action("Index", "InPatient")';
                            $('body').loadingModal('destroy');
                        }
                    }
                });
            }
            return false;
        }


        function SubmitScanTestBillPayForm(form) {
            $('body').loadingModal({ text: 'Processing...' });
            var enmrNo = $(form).find('#ENMRNO').val();
            var ltmID = $(form).find('#STMID').val();
            var discount = $(form).find('#Discount').val();
            var amountPaid = $(form).find('#paidAmount').html();
            var totalAmount = $(form).find('#grandTotal').html();
            var billPayModel = {};
            billPayModel.ID = ltmID;
            billPayModel.ENMRNO = enmrNo;
            billPayModel.TotalAmount = totalAmount;
            billPayModel.Discount = discount;
            billPayModel.PaidAmount = amountPaid;

            $(form).find('#headerDivbill').append("</br><table><tr><td>ENMRNO: " + $('#ENMRNO').val() + "</td></tr><tr><td >Doctor: " + $('#DoctorName').val() + "</td></tr><tr><td>Visit: " + $('#VisitName').val() + "</td></tr><tr><td>Suggested Date: " + $('#DateDisplay').val() + "</td></tr></table>");
            $(form).find('#headerDivbill').append($(form).find('#ptTable'));
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: form.action,
                data: JSON.stringify(billPayModel),
                success: function (data) {
                    if (data.success) {
                        $('#headerDivbill').printThis({
                            header: '<img src="http://localhost:50415/light/images/hms-logo_login.png" style="width:420px;" alt="Mouldifi" title="Sravanthi Hospitals">',
                            footer: false,
                            pageTitle: ""
                        });

                        billPayPopUp.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    $('body').loadingModal('destroy');
                }
            });
            return false;
        }



</script>
}



