
@{
    ViewBag.Title = "OP";
}

<style type="text/css">
    .lableDisplay {
        padding-top: 8px;
        color: #32CD32;
        font-weight: bold;
    }

    .ui-dialog {
        top: 60px !important;
    } 


    /*.his-consultation-calendar {
        background-color: #BA55D3;
        border-color: #BA55D3;
    }*/
</style>
<!-- Breadcrumb -->
<ol class="breadcrumb breadcrumb-2">
    <li><a href="index.html"><i class="glyphicon-cog"></i>Patients</a></li>
    <li class="active"><strong>Out Patients</strong></li>
</ol>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddModify","OutPatient")')"><i class="fa fa-plus"></i> Out Patient</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="outPatientsTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>ENMRNO</th>
                                <th>Name</th>
                                @*<th>DOB</th>*@
                                <th>Gender</th>
                                <th>Phone</th>
                                <th>Doctor</th>
                                <th>Enrolled</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var Popup, dataTable, viewPatient, newVisit, prescription, deliverPopUp;
        $(document).ready(function () {
            dataTable = $("#outPatientsTable").DataTable({
                "ajax": {
                    "url": "/OutPatient/GetOutPatients",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ENMRNO" },
                    { "data": "Name" },
                    //{ "data": "DOBDisplay" },
                    { "data": "GenderDisplay" },
                    { "data": "Phone" },
                    { "data": "DoctorName" },
                    { "data": "EnrolledDisplay" },
                    {
                        "data": "ENMRNO", "render": function (data) {
                            return "<a class='btn btn-default btn-sm' title='Edit' onclick=PopupForm('@Url.Action("AddModify","OutPatient")/?enmrNo=" + data + "')><i class='fa fa-pencil-alt'></i></a>"
                                + "<a class='btn btn-info btn-sm' title = 'View Patient' style = 'margin-left:5px' onclick = PopupViewPatient('@Url.Action("ViewPatient", "OutPatient")/?enmrNo=" + data + "')><i class='fa fa-info-circle'></i></a>"
                                + "<a class='btn btn-primary btn-sm' title='Consultation' style='margin-left:5px' onclick=PopupNewVisit('@Url.Action("NewVisit", "OutPatient")/?enmrNo=" + data + "')> <i class='fa fa-calendar'></i></a>"
                                + "<a class='btn btn-primary btn-sm' title='Prescription' style='margin-left:5px' onclick=PopupPrescription('@Url.Action("OPPrescription", "OutPatient")/?enmrNo=" + data + "')><i class='fa fa-prescription'></i></a>"
                                + "<a class='btn btn-primary btn-sm' title='Deliver Prescription' style='margin-left:5px' onclick=PopupDeliverPrescription('@Url.Action("DeliverPrescription", "OutPatient")/?enmrNo=" + data + "')><i class='fa fa-prescription-bottle-alt'></i></a>"
                                + "<a class='btn btn-primary btn-sm' title='Admit as IP' style='margin-left:5px' onclick=ConvertOpToIp(" + JSON.stringify(data) + ")><i class='fa fa-hospital'></i></a>"
                                + "<a class='btn btn-primary btn-sm' title='Manual Drug Request' style='margin-left:5px' onclick=PopupMDRForm('@Url.Action("ManualDrugRequest", "OutPatient")/?enmrNo=" + data + "')><i class='fa fa-capsules'></i></a>"
                                + "<a class='btn btn-primary btn-sm' title='Lab' style='margin-left:5px' onclick=PopupPatientTests('@Url.Action("PatientTests", "OutPatient")/?enmrNo=" + data + "')><i class='fa fa-flask'></i></a>";
                    },
                        "orderable": false,
                        "searchable": false

                    }
                ],
                "order": [[7, "desc"], [0, "desc"]],
                "language": {
                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    modal:true,
                    title: 'Add Modify Out Patient',
                    width: 850,
                    top: 147,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    },
                    open: function (event, ui) {
                        $('.ui-dialog-content').css('overflow', 'hidden');
                    }
                });
            });
        }

        function PopupViewPatient(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    viewPatient = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: 'View Patient',
                        width: 850,
                        top: 161,
                        close: function () {
                            viewPatient.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                        }
                    });
                });
        }
        function PopupNewVisit(url) {
            var newVisitDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    newVisitDiv.html(response);
                    newVisit = newVisitDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: 'New Consultation',
                        width: '75%',
                        close: function () {
                            newVisit.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                        }
                    });
                });
        }

        function PopupPrescription(url) {
            var newPrescription = $('<div/>');
            $.get(url)
                .done(function (response) {
                    newPrescription.html(response);
                    newPP = newPrescription.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: 'New Prescription',
                        width: 850,
                        close: function () {
                            newPP.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                        }
                    });
                });
        }

        function PopupPatientTests(url) {
            var newPTDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    newPTDiv.html(response);
                    newPT = newPTDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: 'Lab Tests',
                        width: '75%',
                        close: function () {
                            newPT.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                        }
                    });
                });
        }

        function PopupMDRForm(url) {
            var newMDR = $('<div/>');
            $.get(url)
                .done(function (response) {
                    newMDR.html(response);
                    MDRpopup = newMDR.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: 'Manual Drug Request',
                        width: '65%',
                        close: function () {
                            MDRpopup.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                        }
                    });
                });
        }
        //PopupDeliverPrescription
        function PopupDeliverPrescription(url) {
            var deliverPrescription = $('<div/>');
            $.get(url)
                .done(function (response) {
                    deliverPrescription.html(response);
                    deliverPopUp = deliverPrescription.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: 'Deliver Prescription',
                        width: '80%',
                        close: function () {
                            deliverPopUp.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                        }
                    });
                });
        }
        function SubmitForm(form) {
            $.validator.setDefaults({
                ignore: []
            });
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
           return false;
        }

        function SubmitConsultationForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            newVisit.dialog('close');
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function SubmitPrescriptionForm(form) {
            var ppItems = [];
            $('#MedicineWithDose').rules('remove', 'required');
            $('#Quantity').rules('remove', 'required');
            $('#IntakeFrequencyID').rules('remove', 'required');
            var enmrNo = $('#ENMRNO').val();
            var visitID = $('#VisitID').val();
            $('#ppTable > tbody tr').not(':first').each(function (index, elem) {
                var tbl = {};
                tbl.ENMRNO = enmrNo;
                tbl.VisitID = visitID;
                tbl.MedicineID = $($(this).find('td:eq(0)')).html();
                tbl.MedicineWithDose = $($(this).find('td:eq(1)')).html();
                tbl.Quantity = $($(this).find('td:eq(2)')).html();
                tbl.IntakeFrequencyID = $($(this).find('td:eq(3)')).html();
                tbl.Comments = $($(this).find('td:eq(5)')).html();
                tbl.TestIds = $('#TestIds').val();
                ppItems.push(tbl);
            });
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: form.action,
                data: JSON.stringify(ppItems),
                success: function (data) {
                    if (data.success) {
                        newPP.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })

                    }
                }
            });
            return false;
        }

        function SubmitDeliverPrescriptionForm(form) {
            var prescriptions = [];
            var enmrNo = $('#ENMRNO').val();
            var visitID = $('#VisitID').val();
            var discount = $('#Discount').val();
            var amountToBePaid = $('#paidAmount').html();
            var PmID = $('#PMID').val();
            $(form).find('#ppTable > tbody tr').each(function (index, elem) {
                var tbl = {};
                tbl.ENMRNO = enmrNo;
                tbl.VisitID = visitID;
                tbl.MedicineID = $($(this).find('td:eq(1)')).html();
                tbl.DeliverQty = $($(this).find('td:eq(4)')).find('.deliverQty').val();
                tbl.BatchNo = $($(this).find('td:eq(8)')).find('.batchNo').val();
                tbl.LotNo = $($(this).find('td:eq(9)')).find('.lotNo').val();
                tbl.Discount = discount;
                tbl.PaidAmount = amountToBePaid;
                tbl.PMID = PmID;
                prescriptions.push(tbl);
            });
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: form.action,
                data: JSON.stringify(prescriptions),
                success: function (data) {
                    if (data.success) {
                        deliverPopUp.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                }
            });
            return false;
        }

        function ConvertOpToIp(enmr) {
            if(confirm('Are You Sure to Convert as In Patient?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ConvertOpToIp", "OutPatient")/?enmrNo=' + enmr,
                    success: function (data) {
                        if (data.success)
                        {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                            window.location.href = '@Url.Action("Index", "InPatient")';
                        }
                    }

                });
            }
        }

        function SubmitMDRForm(form) {
            var mdrRequest = [];
            $.validator.setDefaults({
                ignore: []
            });
            var enmrNo = $('#ENMRNO').val();
            var doctorID = $('#DoctorID').val();
            var discount = $('#Discount').val();
            var amountPaid = $('#paidAmount').html();
            $(form).find('#mdrTable > tbody tr').not(':first').each(function (index, elem) {
                var tbl = {};
                tbl.ENMRNO = enmrNo;
                tbl.DoctorID = doctorID,
                tbl.IsDelivered = true,
                tbl.VisitID = 0;
                tbl.MedicineID = $($(this).find('td:eq(0)')).html();
                tbl.DeliverQty = $($(this).find('td:eq(2)')).html();
                tbl.Quantity = $($(this).find('td:eq(2)')).html();
                tbl.BatchNo = $($(this).find('td:eq(4)')).html();
                tbl.LotNo = $($(this).find('td:eq(5)')).html();
                tbl.Discount = discount;
                tbl.PaidAmount = amountPaid;
                mdrRequest.push(tbl);
            });
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: form.action,
                data: JSON.stringify(mdrRequest),
                success: function (data) {
                    if (data.success) {
                        MDRpopup.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                }
            });
            return false;
        }

        function SubmitLabTestForm(url) {

        }
    </script>
}



