@model HIS.PatientPrescription
@using HIS.HtmlHelpers;
@{
    Layout = null;
}
<style>
    /*.ui-widget-content a {
        color: #fff !important
    }*/

    .table > thead > tr > th {
        text-transform: none;
        font-weight: bold;
    }

    .ui-dialog {
        top: 60px !important;
    }

    .historyGrid {
        height: 180px;
        overflow-y: scroll;
    }

    .prescriptionGrid {
        height: 590px;
        overflow-y: scroll;
    }


    .nav-tabs {
        border-bottom: 1px solid #029b17;
    }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            color: #029b17;
            cursor: default;
            background-color: #f9f9f9;
            border: 1px solid #029b17;
        }

    ul.nav.nav-tabs {
        margin: 10px 0px;
    }

        ul.nav.nav-tabs li:not(.active) a {
            background-color: #eeeeee;
            color: grey;
        }

        ul.nav.nav-tabs li.active a {
            border-top: 3px solid #029b17;
            border-bottom-color: #f9f9f9;
        }

    input[type="checkbox"] {
        transform: scale(1.3, 1.3);
    }

    .checkbox .btn,
    .checkbox-inline .btn {
        padding-left: 2em;
        min-width: 7em;
    }

    .checkbox label,
    .checkbox-inline label {
        text-align: left;
    }
</style>
@using HIS.HtmlHelpers
@using (Html.BeginForm("OPPrescription", "OutPatient", FormMethod.Post, new { id = "ppForm", onsubmit = "return SubmitPrescriptionForm(this)" }))
{
    @Html.HiddenFor(model => model.ENMRNO, new { @id = "ENMRNO" })
    @Html.HiddenFor(model => model.VisitID, new { @id = "VisitID" })
    @Html.HiddenFor(model => model.VisitName, new { @id = "VisitName" })
    @Html.HiddenFor(model => model.DoctorName, new { @id = "DoctorName" })
    @Html.HiddenFor(model => model.DateDisplay, new { @id = "DateDisplay" })
<div class="form-horizontal">
    <div class="panel-heading clearfix">
        ENMRNO: <span class="lableDisplay">@Model.ENMRNO </span>
    </div>
    <div id="tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#Prescriptionstab">Prescriptions</a></li>
            <li><a data-toggle="tab" href="#testTab">Tests</a></li>
            <li><a data-toggle="tab" href="#scanTab">Scans</a></li>
        </ul>
        <div class="tab-content" id="tabContent">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3 pull-right">
                        <input type="submit" value="Submit" id="btnSubmit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div id="Prescriptionstab" class="tab-pane fade in active" role="tabpanel">

                <div class="col-lg-12 prescriptionGrid">
                    <div class="row @(HtmlHelpers.IsOPPrescriptionFormEnable(Model.ENMRNO) == false ? "hidden" : "")" style="border: 1px;">
                        @*<div class="panel panel-default">*@
                        <div class="panel-heading clearfix">
                            <span class="lableDisplay">@Model.VisitName</span>
                        </div>
                        <div class="panel-body">
                            <div id="printgrid">
                                <div id="headerDiv"></div>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered" id="ppTable">
                                        <thead id="thd">
                                            <tr>
                                                <th style="width:35%">Medicine</th>
                                                <th style="width:5%">Quantity</th>
                                                <th style="width:25%">Intake</th>
                                                <th style="width:35%">Comments</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbd">
                                            <tr id="fstRow">
                                                <td>
                                                    @Html.EditorFor(model => model.MedicineWithDose, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.HiddenFor(model => model.MedicineID)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { Value = Model.Quantity > 0 ? Model.Quantity.ToString() : string.Empty, @class = "form-control" } })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.IntakeFrequencyID, ViewBag.Intakes as SelectList, "--Select--", new { @class = "form-control" })
                                                </td>
                                                <td>
                                                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control rounded-0", @rows = 2 })
                                                </td>
                                                <td><span class="btn btn-success fa fa-plus-circle" style="padding: 0px 3px" id="btnAdd"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @*</div>*@
                    </div>
                    <div class="panel panel-default">

                        @if (!ViewBag.IsNewVisit)
                        {
                            <div class="">
                                @foreach (var p in ViewBag.History)
                                {
                                    if (p.Prescriptions != null && p.Prescriptions.Count > 0)
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-heading" style="padding-left:1px;">
                                                <span class="lableDisplay">@p.VisitName </span>
                                                @if (p.Prescriptions[0].IsDelivered == true)
                                                {
                                                    <a class="btn btn-primary btn-sm" title="View & Print" style="margin-left:5px" onclick="printbill('@Model.ENMRNO','@p.SNO');"><i class="fa fa-print his-fa-size"></i></a>
                                                    @*<input type="submit" value="View & Print" id="btnSubmit" class="btn btn-primary" />*@
                                                }
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Medicine</th>
                                                                <th>Quantity</th>
                                                                <th>Intake</th>
                                                                <th>Doctor</th>
                                                                <th>Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var his in p.Prescriptions)
                                                            {
                                                                <tr>
                                                                    <td>@his.MedicineWithDose</td>
                                                                    <td>@his.Quantity</td>
                                                                    <td>@his.IntakeDisplay</td>
                                                                    <td>@his.DoctorName</td>
                                                                    <td>@his.DateDisplay</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                            </div>
                        }
                        @if (!ViewBag.IsNewVisit)
                        {
                            <div>
                                @if (ViewBag.MDR != null && ViewBag.MDR.Count > 0)
                                {
                                    <div class="">
                                        <div class="panel-body">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" style="padding-left:1px;">
                                                    <span class="lableDisplay">MDR Prescription</span>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>Medicine</th>
                                                                    <th>Quantity</th>
                                                                    <th>Intake</th>
                                                                    <th>Doctor</th>
                                                                    <th>Date</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var his in ViewBag.MDR)
                                                                {
                                                                    <tr>
                                                                        <td>@his.MedicineWithDose</td>
                                                                        <td>@his.Quantity</td>
                                                                        <td>@his.IntakeDisplay</td>
                                                                        <td>@his.DoctorName</td>
                                                                        <td>@his.DateDisplay</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }

                    </div>


                </div>
            </div>
            <div id="testTab" class="tab-pane fade in" role="tabpanel">
                <div class="col-lg-12 prescriptionGrid">

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <span class="lableDisplay">Tests:</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="checkbox" style="padding:0px 0px 10px;">
                                    <label class="btn btn-white" style="text-transform:capitalize">
                                        <input type="checkbox" id="IsTestOrPack" />
                                        Do you want to add Package?
                                    </label>
                                </div>
                                <div class="col-sm-10" id="divTests">
                                    <span class="lableDisplay">Tests:</span>
                                    @Html.DropDownListFor(model => model.TestIds, Model.TestTypes.Where(t => t.IsKit == false).Select(x => new SelectListItem { Text = x.TestName, Value = x.TestID.ToString() }), new { @placeholder = "Select", @class = "form-control chosen-group-select", @multiple = "true", style = "width:350px;" })
                                </div>
                                <div class="col-sm-10 hidden" id="divPackage">
                                    <span class="lableDisplay">Package:</span>
                                    @Html.DropDownListFor(model => model.KitIds, Model.TestTypes.Where(t => t.IsKit == true).Select(x => new SelectListItem { Text = x.TestName, Value = x.TestID.ToString() }), new { @placeholder = "Select", @class = "form-control chosen-group-select", @multiple = "true", style = "width:350px;" })
                                </div>
                            </div>
                            <div class="panel-body" style="margin-top:15px">
                                <div class="row form-group">
                                    @foreach (var p in ViewBag.History)
                                    {
                                        if (p.PatientTests != null && p.PatientTests.Count > 0)
                                        {
                                            <div class="panel panel-default">

                                                <div class="panel-heading" style="padding-left:1px;">
                                                    <span class="lableDisplay">@p.VisitName </span>
                                                    @if (p.PatientTests[0].IsBillPaid == true)
                                                    {
                                                        <a class="btn btn-primary btn-sm" title="View & Print" style="margin-left:5px" onclick="printTestbill('@Model.ENMRNO','@p.SNO');"><i class="fa fa-print his-fa-size"></i></a>
                                                        @*<input type="submit" value="View & Print" id="btnSubmit" class="btn btn-primary" />*@
                                                    }
                                                </div>
                                                <div class="panel-body">

                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>Test</th>
                                                                    <th>Doctor</th>
                                                                    <th>Date</th>
                                                                    <th>Recorded</th>
                                                                    <th>Impression</th>
                                                                    <th>Path</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var test in p.PatientTests)
                                                                {
                                                                    <tr>
                                                                        <td>@test.TestName</td>
                                                                        <td>@test.DoctorName</td>
                                                                        <td>@test.DateDisplay</td>
                                                                        <td>@test.RecordedValues</td>
                                                                        <td>@test.TestImpression</td>
                                                                        <td><a href='@test.ReportPath' target="_blank" class='btn btn-info btn-sm' title='ReportView'><i class="fa fa-file-download"></i></a></td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>

                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="scanTab" class="tab-pane fade in" role="tabpanel">
                <div class="col-lg-12 prescriptionGrid">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <span class="lableDisplay">Scans:</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="row col-sm-10">
                                    <span class="lableDisplay">Add Scans:</span>
                                    @Html.DropDownListFor(model => model.ScanIds, Model.Scans.Select(x => new SelectListItem { Text = x.ScanName, Value = x.ScanID.ToString() }), new { @placeholder = "Select", @class = "form-control chosen-group-select", @multiple = "true", style = "width:350px;" })
                                </div>
                            </div>
                        </div>

                        <div class="panel-body form-group">

                            @foreach (var p in ViewBag.History)
                            {
                                if (p.PatientScans != null && p.PatientScans.Count > 0)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="padding-left:1px;">
                                            <span class="lableDisplay">@p.VisitName </span>
                                            @if (p.PatientScans[0].IsBillPaid == true)
                                            {
                                                <a class="btn btn-primary btn-sm" title="View & Print" style="margin-left:5px" onclick="printScanbill('@Model.ENMRNO','@p.SNO');"><i class="fa fa-print his-fa-size"></i></a>
                                                @*<input type="submit" value="View & Print" id="btnSubmit" class="btn btn-primary" />*@
                                            }
                                        </div>
                                        <div class="panel-body">

                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Scan</th>
                                                            <th>Doctor</th>
                                                            <th>Date</th>
                                                            <th>Recorded</th>
                                                            <th>Impression</th>
                                                            <th>Path</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var test in p.PatientScans)
                                                        {
                                                            <tr>
                                                                <td>@test.ScanName</td>
                                                                <td>@test.DoctorName</td>
                                                                <td>@test.DateDisplay</td>
                                                                <td>@test.RecordedValues</td>
                                                                <td>@test.TestImpression</td>
                                                                <td><a href='@test.ReportPath' target="_blank" class='btn btn-info btn-sm' title='ReportView'><i class="fa fa-file-download"></i></a></td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>

                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            }

<script type="text/javascript">
    $(document).ready(function () {
        $('#TestIds').trigger('chosen:updated');
        $('#TestIds').chosen();
                $('#TestIds_chosen').css({ "width": "350px" });


                $('#ScanIds').trigger('chosen:updated');
                $('#ScanIds').chosen();
        $('#ScanIds_chosen').css({ "width": "350px" });

        $('#KitIds').trigger('chosen:updated');
        $('#KitIds').chosen();
                $('#KitIds_chosen').css({ "width": "350px" });



                });

                function printbill(emrno, visitid) {

                             // alert(emrno + ' ' + visitid);
                             // newPP.dialog('close');
                       $('body').loadingModal({ text: 'Loading...' });
                       var formDiv = $('<div/>');
                       var url = '@Url.Action("DeliverPrescriptionPrint", "OutPatient")/?enmrNo=' + emrno + '&visitid=' + visitid ;
                       $.get(url)
                      .done(function (response) {
                          formDiv.html(response);

                          printdiv = formDiv.dialog({
                              autoOpen: true,
                              resizable: true,
                              modal: true,
                              title: 'Print Details',
                              width: 850,
                              top: 147,
                              close: function () {
                                  printdiv.dialog('destroy').remove();
                              },
                              open: function (event, ui) {
                                  $('.ui-dialog-content').css('overflow', 'hidden');
                                  $('body').loadingModal('destroy');
                              }
                          });
                      });
                }


                function printTestbill(emrno, visitid) {

                             // alert(emrno + ' ' + visitid);
                             // newPP.dialog('close');
                       $('body').loadingModal({ text: 'Loading...' });
                       var formDiv = $('<div/>');
                       var url = '@Url.Action("LabTestBillPayPrint", "OutPatient")/?enmrNo=' + emrno + '&visitid=' + visitid ;
                       $.get(url)
                      .done(function (response) {
                          formDiv.html(response);

                          printdiv = formDiv.dialog({
                              autoOpen: true,
                              resizable: true,
                              modal: true,
                              title: 'Print Details',
                              width: 850,
                              top: 147,
                              close: function () {
                                  printdiv.dialog('destroy').remove();
                              },
                              open: function (event, ui) {
                                  $('.ui-dialog-content').css('overflow', 'hidden');
                                  $('body').loadingModal('destroy');
                              }
                          });
                      });
                }



     function printScanbill(emrno, visitid) {

                             // alert(emrno + ' ' + visitid);
                             // newPP.dialog('close');
                       $('body').loadingModal({ text: 'Loading...' });
                       var formDiv = $('<div/>');
                       var url = '@Url.Action("opScanTestBillPayprint", "OutPatient")/?enmrNo=' + emrno + '&visitid=' + visitid ;
                       $.get(url)
                      .done(function (response) {
                          formDiv.html(response);

                          printdiv = formDiv.dialog({
                              autoOpen: true,
                              resizable: true,
                              modal: true,
                              title: 'Print Details',
                              width: 850,
                              top: 147,
                              close: function () {
                                  printdiv.dialog('destroy').remove();
                              },
                              open: function (event, ui) {
                                  $('.ui-dialog-content').css('overflow', 'hidden');
                                  $('body').loadingModal('destroy');
                              }
                          });
                      });
                }






                $('#IsTestOrPack').change(function () {
                    if ($(this).is(":checked")) {
                        $("#divTests").addClass("hidden");
                        $("#divPackage").removeClass("hidden");
                    }
                    else {
                        $("#divPackage").addClass("hidden");
                        $("#divTests").removeClass("hidden");
                    }
                });


    $('#btnSubmit').click(function () {
        if (($('table#ppTable tr').length < 3)
            && $('#TestIds').val() === null
            && $('#KitIds').val() === null
           && $('#ScanIds').val() === null)

        {
            alert("Please suggest some prescrition or Test or Scan");
            return false;
        }
    });

    var myJsVariable = @Html.Raw(Json.Encode(Model.ENMRNO));
            $("#ppHistoryTable").DataTable({
        "ajax": {
            "url": '/OutPatient/GetOPPatientPrescriptions',
            "data": { 'enmrNo': myJsVariable },
            "type": "GET",
            "datatype": "json"
        },
        "columns": [
            { "data": "MedicineWithDose" },
            { "data": "Quantity" },
            { "data": "IntakeDisplay" },
            { "data": "DoctorName" },
            { "data": "DateDisplay" }
        ],
        "language": {
            "emptyTable": "No Prescriptions found"
        },
        "scrollY": "100px",
        "scrollCollapse": true,
        "paging": false,
        "info": false,
        "searching": false,
        "order": [[4, "desc"]],
    });
            $("#MedicineWithDose").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/OutPatient/GetMedicinesWithQuantity",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.MedicineDisplay,
                                    value: item.SelectDisplay,
                                    id: item.MMID
                                };
                            }))
                        },
                        error: function () {
                            alert('something went wrong !');
                        }
                    })
                },
                select: function (e, i) {
                    $("#MedicineID").val(i.item.id);
                },
                minLength: 1
            });
        $('#btnAdd').click(function () {
            var form = $("#ppForm")
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $('table#ppTable > tbody').append('<tr>' +
                    '<td style="display:none">' + $('#MedicineID').val() + '</td>' + // MedicineID
                    '<td>' + $('#MedicineWithDose').val() + '</td>' + // medicine
                    '<td>' + $('#Quantity').val() + '</td>' + // qty
                    '<td style="display:none">' + $('#IntakeFrequencyID').val() + '</td>' +
                    '<td>' + $("#IntakeFrequencyID option:selected").text() + '</td>' + // intake
                    '<td>' + $('#Comments').val() + '</td>' + // comments
                    '<td><span class="btn btn-danger fa fa-trash" style="padding: 0px 3px" onclick = "remove(this)"></span></td>' +
                    '</tr>');

                clearInputs();
            }
            return false;
        });

        function remove(e) {
            $(e).closest('tr').remove();
            //if ($('#ppForm tr').length < 3)
                //$('#btnSubmit').addClass('disabled');
        }

        function clearInputs() {
            $('#MedicineWithDose').val('');
            $('#Quantity').val('');
            $('#IntakeFrequencyID').val('');
            $('#Comments').val('');
            $('#btnSubmit').removeClass('disabled');
        }
</script>
