@model HIS.OutPatient
@{
    Layout = null;
}

@using (Html.BeginForm("ViewPatient", "OutPatient", FormMethod.Get))
{
    @Html.HiddenFor(model => model.ENMRNO)
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.ENMRNO, "ENMRNO:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.ENMRNO, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.LabelFor(model => model.Name, "Patient:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DOB, "DOB:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.DOBDisplay, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.LabelFor(model => model.Gender, "Gender:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.GenderDisplay, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address, "Address:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.LabelFor(model => model.Phone, "Phone:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Age, "Age(in years):", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.LabelFor(model => model.MaritalStatus, "Marital Status:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.MaritalStatusDisplay, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BirthPlace, "Birth Place:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.BirthPlace, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.LabelFor(model => model.Profession, "Occupation:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.Profession, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ReferredBy, "Referred By:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.ReferredBy, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.LabelFor(model => model.RefPhone, "Referred Phone:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.RefPhone, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BloodGroupDisplay, "Blood Group:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.BloodGroupDisplay, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.LabelFor(model => model.Enrolled, "Enrolled On:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.EnrolledDisplay, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DoctorName, "Doctor:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.DoctorName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.LabelFor(model => model.Email, "Email:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Height, "Height:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.LabelFor(model => model.Weight, "Weight:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.HeartBeat, "Heart Beat:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.HeartBeat, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.LabelFor(model => model.BP, "BP:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.BP, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BMI, "BMI:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.BMI, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.LabelFor(model => model.Temperature, "Temperature:", new { @class = "control-label col-md-2" })
        <div class="col-sm-4 lableDisplay">
            @Html.DisplayFor(model => model.Temperature, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Purpose, "Purpose:", new { @class = "control-label col-md-2" })
        <div class="col-sm-8 lableDisplay">
            @Html.DisplayFor(model => model.Purpose, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PatientHistory, "History:", new { @class = "control-label col-md-2" })
        <div class="col-sm-8 lableDisplay">
            @Html.DisplayFor(model => model.PatientHistory, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>
}
