@{
    ViewBag.Title = "Home";
}
@*<ol class="breadcrumb breadcrumb-2">
    <li><a href="../Home"><i class="fa fa-home"></i>Home</a></li>
</ol>*@
<link href="~/Content/his_smart.css" type="text/css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="row form-group">
            <div class="his-smarts">
                <div class="col-md-3 his-smart-gd">
                    <div class="his-smart-block clr-block-1">
                        <div class="col-md-8 his-smart-left">
                            <h3>@ViewBag.TotalInpatients</h3>
                            <h4>Total Inpatients Registered</h4>
                            @*<p>Other hand, we denounce</p>*@
                        </div>
                        <div class="col-md-4 his-smart-right">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 his-smart-gd">
                    <div class="his-smart-block clr-block-2">
                        <div class="col-md-8 his-smart-left">
                            <h3>@ViewBag.InpatientsToday</h3>
                            <h4>Inpatients Registered Today</h4>
                            @*<p>Other hand, we denounce</p>*@
                        </div>
                        <div class="col-md-4 his-smart-right">
                            <i class="fa fa-procedures"> </i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 his-smart-gd">
                    <div class="his-smart-block clr-block-3">
                        <div class="col-md-8 his-smart-left">
                            <h3>@ViewBag.OnpatientsToday</h3>
                            <h4>Outpatients Registered Today</h4>
                            @*<p>Other hand, we denounce</p>*@
                        </div>
                        <div class="col-md-4 his-smart-right">
                            <i class="fa fa-wheelchair"> </i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="his-smarts">
                <div class="col-md-3 his-smart-gd">
                    <div class="his-smart-block clr-block-4">
                        <div class="col-md-8 his-smart-left">
                            <h3>@ViewBag.AvailableRooms</h3>
                            <h4>Total Rooms Available</h4>
                            @*<p>Other hand, we denounce</p>*@
                        </div>
                        <div class="col-md-4 his-smart-right">
                            <i class="fa fa-door-open"></i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 his-smart-gd">
                    <div class="his-smart-block clr-block-5">
                        <div class="col-md-8 his-smart-left">
                            <h3>@ViewBag.AvailableBeds</h3>
                            <h4>Total Beds Available</h4>
                            @*<p>Other hand, we denounce</p>*@
                        </div>
                        <div class="col-md-4 his-smart-right">
                            <i class="fa fa-bed"> </i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 his-smart-gd">
                    <div class="his-smart-block clr-block-6">
                        <div class="col-md-8 his-smart-left">
                            <h3>@ViewBag.AllocatedBeds</h3>
                            <h4>Total Beds Allocated</h4>
                            @*<p>Other hand, we denounce</p>*@
                        </div>
                        <div class="col-md-4 his-smart-right">
                            <i class="fas fa-bed"> </i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="his-smarts">
                <div class="col-md-3 his-smart-gd">
                    <div class="his-smart-block clr-block-7">
                        <div class="col-md-8 his-smart-left">
                            <h3>@ViewBag.UnDelivertedTests</h3>
                            <h4>Undelivered Lab Reports</h4>
                            @*<p>Other hand, we denounce</p>*@
                        </div>
                        <div class="col-md-4 his-smart-right">
                            <i class="fa fa-flask"></i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 his-smart-gd">
                    <div class="his-smart-block clr-block-8">
                        <div class="col-md-8 his-smart-left">
                            <h3>@ViewBag.UnDelivertedPrescription</h3>
                            <h4>Undelivered Prescriptions</h4>
                            @*<p>Other hand, we denounce</p>*@
                        </div>
                        <div class="col-md-4 his-smart-right">
                            <i class="fa fa-prescription fa-clr-block-8"></i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 his-smart-gd">
                    <div class="his-smart-block clr-block-9">
                        <div class="col-md-8 his-smart-left">
                            <h3>@ViewBag.UnDelivertedScans</h3>
                            <h4>Undelivered Scans</h4>
                            @*<p>Other hand, we denounce</p>*@
                        </div>
                        <div class="col-md-4 his-smart-right">
                            <i class="fa fa-tv"></i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
