
@{
    ViewBag.Title = "I/P";
}

<style type="text/css">
    .lableDisplay {
        padding-top: 8px;
        color: #32CD32;
        font-weight: bold;
    }
</style>
<!-- Breadcrumb -->
<ol class="breadcrumb breadcrumb-2">
    <li><a href="index.html"><i class="glyphicon-cog"></i>Patients</a></li>
    <li class="active"><strong>In Patients</strong></li>
</ol>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupPatient('@Url.Action("AddModify","InPatient")', false)"><i class="fa fa-plus"></i> In Patient</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="inPatientsTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>ENMRNO</th>
                                <th>Name</th>
                                @*<th>DOB</th>*@
                                <th>Gender</th>
                                @*<th>Address</th>*@
                                <th>Phone</th>
                                <th>Doctor</th>
                                <th>Enrolled</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
        var Popup, dataTable, viewPatient, fee, observation, bedPopUp;
        $(document).ready(function () {
            dataTable = $("#inPatientsTable").DataTable({
                "ajax": {
                    "url": "/InPatient/GetInPatients",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ENMRNO" },
                    { "data": "Name" },
                    //{ "data": "DOBDisplay" },
                    { "data": "GenderDisplay" },
                    //{ "data": "Address" },
                    { "data": "Phone" },
                    { "data": "DoctorName" },
                    { "data": "EnrolledDisplay" },
                    {
                        "data":"ENMRNO", "render" : function (data) {
                            return "@if (ViewContext.Controller.HasPermission("InPatient-AddModify")){<a class='btn btn-default btn-sm' title='Edit' onclick=PopupPatient('@Url.Action("AddModify","InPatient")/?enmrNo=" + data + "',false)><i class='fa fa-user-edit'></i>"
                                + "</a>}@if (ViewContext.Controller.HasPermission("InPatient-ViewPatient"))
                                {<a class='btn btn-info btn-sm' title='View Patient' style='margin-left:5px' onclick=PopupViewPatient('@Url.Action("ViewPatient", "InPatient")/?enmrNo=" + data + "')><i class='fa fa-info-circle'></i></a>}"
                                + "@if (ViewContext.Controller.HasPermission("InPatient-BedAllocation")){
                                    <a class='btn btn-primary btn-sm' title='Bed' style='margin-left:5px' onclick=PopupPatientAllocationView('@Url.Action("BedAllocation", "InPatient")/?enmrNo=" + data + "')><i class='fa fa-bed'></i></a>}"
                                + "@if (ViewContext.Controller.HasPermission("InPatient-Fee")){
                                        <a class='btn btn-primary btn-sm' title='Fee' style='margin-left:5px' onclick=PopupFee('@Url.Action("Fee", "InPatient")/?enmrNo=" + data + "')><i class='fa fa-rupee-sign'></i></a>}"
                                + "@if (ViewContext.Controller.HasPermission("InPatient-Observations")){
                                        <a class='btn btn-primary btn-sm' title='Observation' style='margin-left:5px' onclick=PopupObservations('@Url.Action("Observations", "InPatient")/?enmrNo=" + data + "')><i class='fa fa-briefcase-medical'></i></a>}"
                                + "@if (ViewContext.Controller.HasPermission("InPatient-Observations")){
                                        <a class='btn btn-primary btn-sm' title='Observation' style='margin-left:5px' onclick=PopupObservations('@Url.Action("Observations", "InPatient")/?enmrNo=" + data + "')><i class='fa fa-flask'></i></a>}"
                                + "@if (ViewContext.Controller.HasPermission("InPatient-AddModify")){<a class='btn btn-default btn-sm' title='Discharge' style='margin-left:5px' onclick=PopupPatient('@Url.Action("AddModify","InPatient")/?enmrNo=" + data + "',true)><i class='fa fa-sign-out-alt'></i></a>}";
                                    },
                        "orderable": false,
                        "searchable": false
                    }
                ],
                "order": [[5, "desc"],[0, "desc"]],
                "language": {
                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });

        // Popup Add Edit Patient
        function PopupPatient(url, isDischarge) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: 'Add Modify In Patient',
                        width: 850,
                        top: 147,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            if (isDischarge == true) {
                                $('.nav-tabs a[href="#dischargeTab"]').tab('show');
                            }
                        }
                    });
                });
            //Popup.activeDischargeTab();
        }
        // Popup View Patient
        function PopupViewPatient(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    viewPatient = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: 'View Patient',
                        width: 850,
                        top: 161,
                        close: function () {
                            viewPatient.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                        }
                    });
                });
        }
        // Popup Fee
        function PopupFee(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    fee = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: 'Fee Collection',
                        width: 850,
                        top: 147,
                        close: function () {
                            fee.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                        }
                    });
                });
        }
        // Popup Observations
        function PopupObservations(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    observation = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: 'Observations',
                        width: 850,
                        top: 147,
                        close: function () {
                            observation.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                        }
                    });
                });
        }
        function PopupPatientAllocationView(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    bedPopUp = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: 'Patient Bed Allocation',
                        width: 850,
                        top: 161,
                        close: function () {
                            bedPopUp.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                        }
                    });
                });
        }
        // Submit Patient
        function SubmitForm(form) {
            $.validator.setDefaults({
                ignore: []
            });
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
           return false;

        }
        // Submit Patient Fee
        function SubmitFeeForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            fee.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;

        }

        // Submit Patient Observations
        function SubmitObservationForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            observation.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }
</script>
}



