
@{
    ViewBag.Title = "I/P";
}

<style type="text/css">
    .lableDisplay {
        padding-top: 8px;
        color: #32CD32;
        font-weight: bold;
    }
</style>
<!-- Breadcrumb -->
<ol class="breadcrumb breadcrumb-2">
    <li><a href="index.html"><i class="glyphicon-cog"></i>Patients</a></li>
    <li class="active"><strong>In Patients</strong></li>
</ol>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupPatient('@Url.Action("AddModify","InPatient")', 0)"><i class="fa fa-plus"></i> In Patient</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="inPatientsTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>ENMRNO</th>
                                <th>Name</th>
                                @*<th>DOB</th>*@
                                <th>Gender</th>
                                @*<th>Address</th>*@
                                <th>Phone</th>
                                <th>Doctor</th>
                                <th>Enrolled</th>
                                <th>Discharged</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
        var Popup, dataTable, viewPatient, fee, observation, bedPopUp;
    $(document).ready(function () {
            dataTable = $("#inPatientsTable").DataTable({
                "ajax": {
                    "url": "/InPatient/GetInPatients",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ENMRNO" },
                    { "data": "Name" },
                    //{ "data": "DOBDisplay" },
                    { "data": "GenderDisplay" },
                    //{ "data": "Address" },
                    { "data": "Phone" },
                    { "data": "DoctorName" },
                    { "data": "EnrolledDisplay" },
                    { "data": "DischargeDateDisplay"},
                    {
                        "data": null, "render": function (data) {
                            var disabled = 'disabled btn-success';
                            if (!data.IsDischarged) { disabled = '' }
                            return "@if (ViewContext.Controller.HasPermission("InPatient-AddModify")){<a class='btn btn-default btn-sm "+disabled+"' title='Edit' onclick=PopupPatient('@Url.Action("AddModify","InPatient")/?enmrNo=" + data.ENMRNO + "',1)><i class='fa fa-user-edit'></i>"
                                    + "</a>}@if (ViewContext.Controller.HasPermission("InPatient-ViewPatient"))
                                {<a class='btn btn-info btn-sm' title='View Patient' style='margin-left:5px' onclick=PopupViewPatient('@Url.Action("ViewPatient", "InPatient")/?enmrNo=" + data.ENMRNO + "')><i class='fa fa-info-circle'></i></a>}"
                                + "@if (ViewContext.Controller.HasPermission("InPatient-BedAllocation")){
                                    <a class='btn btn-primary btn-sm " + disabled +"' title='Bed' style='margin-left:5px' onclick=PopupPatientAllocationView('@Url.Action("BedAllocation", "InPatient")/?enmrNo=" + data.ENMRNO + "')><i class='fa fa-bed'></i></a>}"
                                    + "@if (ViewContext.Controller.HasPermission("InPatient-Fee")){
                                        <a class='btn btn-primary btn-sm' title='Fee' style='margin-left:5px' onclick=PopupFee('@Url.Action("Fee", "InPatient")/?enmrNo=" + data.ENMRNO + "')><i class='fa fa-rupee-sign'></i></a>}"
                                + "@if (ViewContext.Controller.HasPermission("InPatient-Observations")){
                                        <a class='btn btn-primary btn-sm' title='Observation' style='margin-left:5px' onclick=PopupObservations('@Url.Action("Observations", "InPatient")/?enmrNo=" + data.ENMRNO + "')><i class='fa fa-briefcase-medical'></i></a>}"
                                + "@if (ViewContext.Controller.HasPermission("InPatient-Prescription")){
                                    <a class='btn btn-primary btn-sm' title='Prescription' style='margin-left:5px' onclick=PopupPrescription('@Url.Action("Prescription", "InPatient")/?enmrNo=" + data.ENMRNO + "')><i class='fa fa-prescription'></i></a>}"
                                + "@if (ViewContext.Controller.HasPermission("InPatient-DeliverPrescription")){
                                    <a class='btn btn-primary btn-sm " + disabled+"' title='Deliver Prescription' style='margin-left:5px' onclick=PopupDeliverPrescription('@Url.Action("DeliverPrescription", "InPatient")/?enmrNo=" + data.ENMRNO + "')><i class='fa fa-prescription-bottle-alt'></i></a>}"
                                + "@if (ViewContext.Controller.HasPermission("InPatient-PatientTests")){
                                    <a class='btn btn-primary btn-sm' title='Lab' style='margin-left:5px' onclick=PopupPatientTests('@Url.Action("PatientTests", "InPatient")/?enmrNo=" + data.ENMRNO + "')><i class='fa fa-flask'></i></a>}"
                                + "@if (ViewContext.Controller.HasPermission("InPatient-LabTestBillPay")){
                                    <a class='btn btn-primary btn-sm " + disabled+"' title='Lab Test Bill Payment' style='margin-left:5px' onclick=PopupLabTestBillPayForm('@Url.Action("LabTestBillPay", "InPatient")/?enmrNo=" + data.ENMRNO + "')><i class='fa fa-credit-card'></i></a>}"
                                    + "@if (ViewContext.Controller.HasPermission("InPatient-PrintHistory")){
                                        <a class='btn btn-primary btn-sm' title='View & Print' style='margin-left:5px' onclick=PopupPrint('@Url.Action("PrintHistory", "InPatient")/?enmrNo=" + data.ENMRNO + "')><i class='fa fa-print'></i></a>}"
                                + "@if (ViewContext.Controller.HasPermission("InPatient-AddModify")){
                                    <a class='btn btn-default btn-sm " + disabled +"' title='Discharge' style='margin-left:5px' onclick=PopupDischargeForm('@Url.Action("Discharge","InPatient")/?enmrNo=" + data.ENMRNO + "'," + JSON.stringify(data.ENMRNO)+")><i class='fa fa-sign-out-alt'></i></a>}";
                            },
                        "orderable": false,
                        "searchable": false
                    }
                ],
                "order": [[5, "desc"],[0, "desc"]],
                "language": {
                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });

        // Popup Add Edit Patient
    function PopupPatient(url, id) {
        $('body').loadingModal({ text: 'Loading...' });
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: id == 0?'Create In-Patient' : 'Edit In-Patient',
                        width: '60%',
                        top: '15%',
                        close: function () {
                            Popup.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
        }
        // Popup View Patient
    function PopupViewPatient(url) {
        $('body').loadingModal({ text: 'Loading...' });
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    viewPatient = formDiv.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: 'View Patient',
                        width: 850,
                        top: 161,
                        close: function () {
                            viewPatient.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
    }

        // Popup Fee
    function PopupFee(url) {
        $('body').loadingModal({ text: 'Loading...' });
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    fee = formDiv.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: 'Fee Collection',
                        width: 850,
                        top: 147,
                        close: function () {
                            fee.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
        }
        // Popup Observations
    function PopupObservations(url) {
        $('body').loadingModal({ text: 'Loading...' });
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    observation = formDiv.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: 'Observations',
                        width: 850,
                        top: 147,
                        close: function () {
                            observation.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
        }
    function PopupPatientAllocationView(url) {
        $('body').loadingModal({ text: 'Loading...' });
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    bedPopUp = formDiv.dialog({
                        autoOpen: true,
                        resizable: true,
                        modal: true,
                        title: 'Patient Bed Allocation',
                        width: 850,
                        top: 161,
                        close: function () {
                            bedPopUp.dialog('destroy').remove();
                        },
                        open: function (event, ui) {
                            $('.ui-dialog-content').css('overflow', 'hidden');
                            $('body').loadingModal('destroy');
                        }
                    });
                });
    }

    function PopupDischargeForm(url, enmrNo) {
        $('body').loadingModal({ text: 'Loading...' });
        var dischargeDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                dischargeDiv.html(response);
                dischargePopUp = dischargeDiv.dialog({
                    autoOpen: true,
                    resizable: true,
                    modal: true,
                    title: 'Discharge ENMR:' + enmrNo,
                    width: '55%',
                    top: 161,
                    close: function () {
                        dischargePopUp.dialog('destroy').remove();
                    },
                    open: function (event, ui) {
                        $('.ui-dialog-content').css('overflow', 'hidden');
                        $('body').loadingModal('destroy');
                    }
                });
            });
    }

    function PopupPrescription(url) {
        $('body').loadingModal({ text: 'Loading...' });
        var newPrescription = $('<div/>');
        $.get(url)
            .done(function (response) {
                newPrescription.html(response);
                newPP = newPrescription.dialog({
                    autoOpen: true,
                    resizable: true,
                    modal: true,
                    title: 'New Prescription',
                    width: '70%',
                    close: function () {
                        newPP.dialog('destroy').remove();
                    },
                    open: function (event, ui) {
                        $('.ui-dialog-content').css('overflow', 'hidden');
                        $('body').loadingModal('destroy');
                    }
                });
            });
    }

    function PopupPatientTests(url) {
        $('body').loadingModal({ text: 'Loading...' });
        var newPTDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                newPTDiv.html(response);
                newPT = newPTDiv.dialog({
                    autoOpen: true,
                    resizable: true,
                    modal: true,
                    title: 'Lab Tests',
                    width: '75%',
                    close: function () {
                        newPT.dialog('destroy').remove();
                    },
                    open: function (event, ui) {
                        $('.ui-dialog-content').css('overflow', 'hidden');
                        $('body').loadingModal('destroy');
                    }
                });
            });
    }
    function PopupDeliverPrescription(url) {
        $('body').loadingModal({ text: 'Loading...' });
        var deliverPrescription = $('<div/>');
        $.get(url)
            .done(function (response) {
                deliverPrescription.html(response);
                deliverPopUp = deliverPrescription.dialog({
                    autoOpen: true,
                    resizable: true,
                    modal: true,
                    title: 'Deliver Prescription',
                    width: '80%',
                    close: function () {
                        deliverPopUp.dialog('destroy').remove();
                    },
                    open: function (event, ui) {
                        $('.ui-dialog-content').css('overflow', 'hidden');
                        $('body').loadingModal('destroy');

                    }
                });
            });
    }

    function PopupLabTestBillPayForm(url) {
        $('body').loadingModal({ text: 'Loading...' });
        var billPay = $('<div/>');      
        $.get(url)
            .done(function (response) {
                billPay.html(response);
                billPayPopUp = billPay.dialog({
                    autoOpen: true,
                    resizable: true,
                    modal: true,
                    title: 'Lab Test Bill Payment',
                    width: '70%',
                    close: function () {
                        billPayPopUp.dialog('destroy').remove();
                    },
                    open: function (event, ui) {
                        $('.ui-dialog-content').css('overflow', 'hidden');
                        $('body').loadingModal('destroy');
                    }
                });
            });
    }
        // Submit Patient
        function SubmitForm(form) {
            $.validator.setDefaults({
                ignore: []
            });
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $('body').loadingModal({ text: 'Processing...' });
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                        $('body').loadingModal('destroy');
                    }
                });
            }
           return false;
    }

    function SubmitBedAllocationForm(form) {
        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $('body').loadingModal({ text: 'Processing...' });
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {
                        bedPopUp.dialog('close');
                        dataTable.ajax.reload();

                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    $('body').loadingModal('destroy');
                }
            });
        }
        return false;

    }
        // Submit Patient Fee
        function SubmitFeeForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $('body').loadingModal({ text: 'Processing...' });
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            fee.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                        $('body').loadingModal('destroy');
                    }
                });
            }
            return false;

        }

        // Submit Patient Observations
        function SubmitObservationForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $('body').loadingModal({ text: 'Processing...' });
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            observation.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                        $('body').loadingModal('destroy');
                    }
                });
            }
            return false;
        }


    // Submit Print button      
    function PopupPrint(url) {
        $('body').loadingModal({ text: 'Loading...' });
        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);

                printdiv = formDiv.dialog({
                    autoOpen: true,
                    resizable: true,
                    modal: true,
                    title: 'Print Details',
                    width: 850,
                    top: 147,
                    close: function () {
                        printdiv.dialog('destroy').remove();
                    },
                    open: function (event, ui) {
                        $('.ui-dialog-content').css('overflow', 'hidden');
                        $('body').loadingModal('destroy');
                    }
                });
            });
    }

    function SubmitDischargeForm(form) {
        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $('body').loadingModal({ text: 'Processing...' });
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {
                        dischargePopUp.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    $('body').loadingModal('destroy');
                }
            });
        }
        return false;
    }

    function SubmitDeliverPrescriptionForm(form) {
        $('body').loadingModal({ text: 'Processing...' });
        //$('#MedicineWithDose').rules('remove', 'required');
        var prescriptions = [];
        var enmrNo = $('#ENMRNO').val();
        var visitID = $('#VisitID').val();
        var discount = $('#Discount').val();
        var amountToBePaid = $('#paidAmount').html();
        var totalAmount = $('#grandTotal').html();
        var PmID = $('#PMID').val();

        $(form).find('#headerDivbill').append("</br><table><tr><td>ENMRNO: " + $('#ENMRNO').val() + "</td></tr><tr><td >Doctor: " + $('#DoctorName').val() + "</td></tr><tr><td>Visit: " + $('#VisitName').val() + "</td></tr><tr><td>Suggested Date: " + $('#DateDisplay').val() + "</td></tr></table>");
        $(form).find('#headerDivbill').append($(form).find('#ppTable'));


        $(form).find('#ppTable > tbody tr').each(function (index, elem) {
            var tbl = {};
            tbl.ENMRNO = enmrNo;
            tbl.VisitID = visitID;
            tbl.MedicineID = $($(this).find('td:eq(1)')).html();
            tbl.DeliverQty = $($(this).find('td:eq(4)')).find('.deliverQty').val();
            tbl.RequestQty = $($(this).find('td:eq(5)')).find('.reqQty').val();
            tbl.BatchNo = $($(this).find('td:eq(8)')).find('.batchNo').val();
            tbl.LotNo = $($(this).find('td:eq(9)')).find('.lotNo').val();
            tbl.Discount = discount;
            tbl.PaidAmount = amountToBePaid;
            tbl.TotalAmount = totalAmount;
            tbl.PMID = PmID;
            prescriptions.push(tbl);
        });
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: form.action,
            data: JSON.stringify(prescriptions),
            success: function (data) {
                if (data.success) {
                    $('#headerDivbill').printThis({
                        header: '<img src="http://localhost:50415/light/images/hms-logo_login.png" style="width:420px;" alt="Mouldifi" title="Sravanthi Hospitals">',
                        footer: false,
                        pageTitle: ""
                    });
                    deliverPopUp.dialog('close');
                    dataTable.ajax.reload();
                    $.notify(data.message, {
                        globalPosition: "top center",
                        className: "success"
                    })
                }
                $('body').loadingModal('destroy');
            }
        });
        return false;
    }

    function SubmitPrescriptionForm(form) {
        var ppItems = [];
        var enmrNo = $('#ENMRNO').val();
        var visitID = $('#VisitID').val();
        if ($(form).find('table#ppTable tr').length >= 3) {
            $('#MedicineWithDose').rules('remove', 'required');
            $('#Quantity').rules('remove', 'required');
            $('#IntakeFrequencyID').rules('remove', 'required');
            $('#ppTable > tbody tr').not(':first').each(function (index, elem) {
                var tbl = {};
                tbl.ENMRNO = enmrNo;
                tbl.VisitID = visitID;
                tbl.MedicineID = $($(this).find('td:eq(0)')).html();
                tbl.MedicineWithDose = $($(this).find('td:eq(1)')).html();
                tbl.Quantity = $($(this).find('td:eq(2)')).html();
                tbl.IntakeFrequencyID = $($(this).find('td:eq(3)')).html();
                tbl.Comments = $($(this).find('td:eq(5)')).html();
                tbl.TestIds = $('#TestIds').val();
                tbl.HasPrescription = true;
                ppItems.push(tbl);
            });
        }
        else {
            $.validator.setDefaults({
                ignore: []
            });
            var tbl = {};
            tbl.ENMRNO = enmrNo;
            tbl.VisitID = visitID;
            tbl.TestIds = $('#TestIds').val();
            tbl.HasPrescription = false;
            ppItems.push(tbl);
        }
        $('body').loadingModal({ text: 'Processing...' });
        $(form).find('#headerDiv').append("</br><table><tr><td>ENMRNO: " + $('#ENMRNO').val() + "</td></tr><tr><td>Doctor: " + $('#DoctorName').val() + "</td></tr></table>");
        $(form).find('#headerDiv').append($(form).find('#ppTable'));
        $('#fstRow').closest('tr').remove();
        $('#thd').find('th:last').remove();
        $("#tbd tr").each(function () {
            $(this).find('td:last').remove();
        });
        var option_all = $("#TestIds option:selected").map(function () {
            return $(this).text();
        }).get().join(',');

        var str_array = option_all.split(',');
        var tbodyTR = '';
        var tbodtTD = '';
        for (var i = 0; i < str_array.length; i++) {
            tbodtTD += '<tr><td>' + str_array[i].replace(/^\s*/, "").replace(/\s*$/, "") + '</td></tr>'
        }
        tbodyTR += tbodtTD;
        $(form).find('#headerDiv').append("</br><table class='table table-striped table-bordered'><thead><tr><td>Test Name</td></tr></thead><tbody>" + tbodyTR + "</tbody></table>");

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: form.action,
            data: JSON.stringify(ppItems),
            success: function (data) {
                if (data.success) {
                    $('#headerDiv').printThis({
                        header: '<img src="http://localhost:50415/light/images/hms-logo_login.png" style="width:420px;" alt="Mouldifi" title="Sravanthi Hospitals">',
                        footer: false,
                        pageTitle: ""
                    });
                    newPP.dialog('close');
                    dataTable.ajax.reload();
                    $.notify(data.message, {
                        globalPosition: "top center",
                        className: "success"
                    })

                }
                $('body').loadingModal('destroy');
            }
        });
        return false;
    }

    function SubmitLabTestForm(form) {
        var patientTests = [];
        $.validator.setDefaults({
            ignore: []
        });
        $('body').loadingModal({ text: 'Processing...' });
        var enmrNo = $('#ENMRNO').val();
        var ltmID = $('#LTMID').val();
        $(form).find('#ptTable > tbody tr').each(function (index, elem) {
            var tbl = {};
            tbl.ENMRNO = enmrNo;
            tbl.LTMID = ltmID,
                tbl.TestID = $($(this).find('td:eq(0)')).html();
            tbl.RecordedValues = $($(this).find('td:eq(2)').find('.recordValue')).val();
            tbl.TestDate = $($(this).find('td:eq(3)').find('.datepicker')).val(); _
            tbl.TestImpression = $($(this).find('td:eq(4)').find('.testImpression')).val(); _
            patientTests.push(tbl);
        });
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: form.action,
            data: JSON.stringify(patientTests),
            success: function (data) {
                if (data.success) {
                    newPT.dialog('close');
                    dataTable.ajax.reload();
                    $.notify(data.message, {
                        globalPosition: "top center",
                        className: "success"
                    })
                }
                $('body').loadingModal('destroy');
            }
        });
        return false;
    }

    function SubmitLabTestBillPayForm(form) {
        $('body').loadingModal({ text: 'Processing...' });
        var enmrNo = $(form).find('#ENMRNO').val();
        var ltmID = $(form).find('#LTMID').val();
        var discount = $(form).find('#Discount').val();
        var amountPaid = $(form).find('#paidAmount').html();
        var totalAmount = $(form).find('#grandTotal').html();
        var billPayModel = {};
        billPayModel.ID = ltmID;
        billPayModel.ENMRNO = enmrNo;
        billPayModel.TotalAmount = totalAmount;
        billPayModel.Discount = discount;
        billPayModel.PaidAmount = amountPaid;

        $(form).find('#headerDivbill').append("</br><table><tr><td>ENMRNO: " + $('#ENMRNO').val() + "</td></tr><tr><td >Doctor: " + $('#DoctorName').val() + "</td></tr><tr><td>Visit: " + $('#VisitName').val() + "</td></tr><tr><td>Suggested Date: " + $('#DateDisplay').val() + "</td></tr></table>");
        $(form).find('#headerDivbill').append($(form).find('#ptTable'));
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: form.action,
            data: JSON.stringify(billPayModel),
            success: function (data) {
                if (data.success) {
                    $('#headerDivbill').printThis({
                        header: '<img src="http://localhost:50415/light/images/hms-logo_login.png" style="width:420px;" alt="Mouldifi" title="Sravanthi Hospitals">',
                        footer: false,
                        pageTitle: ""
                    });

                    billPayPopUp.dialog('close');
                    dataTable.ajax.reload();
                    $.notify(data.message, {
                        globalPosition: "top center",
                        className: "success"
                    })
                }
                $('body').loadingModal('destroy');
            }
        });
        return false;
    }

</script>
}



