
@model List<HIS.PatientScan>
@{
    /**/

    Layout = null;
}
<style>
    .ui-widget-content a {
        color: #fff !important
    }

    .table > thead > tr > th {
        text-transform: none;
        font-weight: bold;
    }

    .ui-dialog {
        top: 60px !important;
    }
</style>
@using HIS.HtmlHelpers

<div class="form-horizontal">
    @if (Model != null && Model.Count > 0)
    {
        @Html.HiddenFor(model => model[0].ENMRNO, new { @id = "ENMRNO" })
        @Html.HiddenFor(model => model[0].STMID, new { @id = "STMID" })
        @Html.HiddenFor(model => model[0].VisitName, new { @id = "VisitName" })
        @Html.HiddenFor(model => model[0].DoctorName, new { @id = "DoctorName" })
        @Html.HiddenFor(model => model[0].DateDisplay, new { @id = "DateDisplay" })
        <div id="PrintDiv">
            <div class="col-lg-10">
                <div class="form-group">
                    @Html.LabelFor(model => model[0].ENMRNO, "ENMRNO:", new { @class = "control-label col-md-2" })
                    <div class="col-sm-4 lableDisplay">
                        @Html.DisplayFor(model => model[0].ENMRNO, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model[0].VisitName, "Visit:", new { @class = "control-label col-md-2" })
                    <div class="col-sm-4 lableDisplay">
                        @Html.DisplayFor(model => model[0].VisitName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model[0].DoctorName, "Doctor:", new { @class = "control-label col-md-2" })
                    <div class="col-sm-4 lableDisplay">
                        @Html.DisplayFor(model => model[0].DoctorName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model[0].DateDisplay, "Suggested Date:", new { @class = "control-label col-md-2" })
                    <div class="col-sm-4 lableDisplay">
                        @Html.DisplayFor(model => model[0].DateDisplay, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="headerDivbill"></div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="ptTable">
                            <thead>
                                <tr>
                                    <th style="width:50%">Scan</th>
                                    <th style="width:50%">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var p in Model)
                                {
                                    <tr>
                                        <td style="display:none">@p.ScanID</td>
                                        <td>@p.ScanName</td>
                                        <td class="price">@p.ScanCost.ToString("0.##")</td>
                                        
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td align="right">Total:</td>
                                    <td align="left" id="grandTotal">@Model.Sum(i => i.TotalAmount).ToString("0.##")</td>
                                </tr>
                                <tr>
                                    <td align="right">Discount(-):</td>
                                    <td align="left" id="discountAmount">@Model.Sum(i => i.Discount).ToString("0.##")</td>
                                </tr>
                                <tr>
                                    <td align="right">Amount Paid:</td>
                                    <td align="left" id="paidAmount">@Model.Sum(i => i.PaidAmount).ToString("0.##")</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-3 col-md-offset-5">
                        <input onclick="printfun();" value="Print" id="btnSubmit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            }
            else
            {
            <span style="color:red; font-weight:bold;">No Pending Scans found for the bill payment of this Patient. Please contact your physician!!</span>
            }
        </div>


        <script type="text/javascript">
            function printfun() {
                $("#PrintDiv").printThis({
                    header: '<img src="http://sravanthihospital.in/light/images/hms-logo_login.png" style="width:420px;" alt="Mouldifi" title="Sravanthi Hospitals">',
                    footer: false,
                    pageTitle: "Page title",
                    Title: 'Pring page'
                });
            }
        </script>
