@model List<HIS.LabKitViewModel>
@{
    Layout = null;
}
<style>
    td {
        padding: 5px;
    }

    .table {
        margin-left: 1px;
        margin-right: 1px;
    }

        .table > thead > tr > th {
            text-transform: none;
            font-weight: bold;
        }

    .ui-dialog {
        top: 60px !important;
    }
</style>
@using (Html.BeginForm("SaveKitItems", "LabKit", FormMethod.Post, new { id = "kitForm", onsubmit = "return SubmitLabKitForm(this);" }))
{
    @Html.HiddenFor(model => model[0].LKitID, new { @id = "LKitID" })
<div class="form-horizontal">
    <div class="astriskNote"><span></span></div>
    <div class="row">
        <div class="form-group required">
            @Html.LabelFor(model => model[0].LKitName, "Package:", new { @class = "control-label col-md-2" })
            <div class="col-sm-4 lableDisplay">
                @Html.DisplayFor(model => model[0].LKitName, new { htmlAttributes = new { @id = "LKitName", @class = "form-control" } })
            </div>
            @Html.LabelFor(model => model[0].LKitCost, "Cost:", new { @class = "control-label col-md-2" })
            <div class="col-sm-2">
                @Html.EditorFor(model => model[0].LKitCost, new { htmlAttributes = new { @id = "LKitCost", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model[0].LKitCost)
            </div>
        </div>
    </div>
    <div class="row" style="border: 1px;">
        <table class="table table-striped table-bordered" id="itemTable">
            <thead>
                <tr>
                    <th style="width:100%">Test Name</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        @Html.EditorFor(model => model[0].InputTest, new { htmlAttributes = new { @id = "TestName", @class = "form-control" } })
                        @Html.HiddenFor(model => model[0].TestID, new { @id = "TestID" })
                    </td>
                    <td><span class="btn btn-success fa fa-plus-circle" style="padding: 0px 3px" id="btnAdd"></span></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0 && Model[0].TestID != 0)
                {
                    foreach (LabKitViewModel p in Model)
                    {
                        <tr>
                            <td style="display:none">@p.TestID</td>
                            <td>@p.TestName</td>
                            <td><span class="btn btn-danger fa fa-trash" style="padding: 0px 3px" onclick="remove(this)"></span></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @if (Model.Count > 0 && Model[0].TestID != 0)
    {
        <div class="row" id="btnDiv">
            <div class="form-group">
                <div class="col-md-3 col-md-offset-5">
                    <input type="submit" value="Submit" id="btnSubmit" class="btn btn-primary" />
                    <input type="reset" value="Reset" class="btn" />
                </div>
            </div>
        </div>
    }
    else
    {
         <div class="row hidden" id="btnDiv">
            <div class="form-group">
                <div class="col-md-3 col-md-offset-5">
                    <input type="submit" value="Submit" id="btnSubmit" class="btn btn-primary" />
                    <input type="reset" value="Reset" class="btn" />
                </div>
            </div>
        </div>
    }

</div>
}
<script type="text/javascript">
            $(function () {
                $('#btnAdd').click(function () {
                    $('#btnDiv').removeClass("hidden");
                    var form = $("#kitForm")
                    $.validator.unobtrusive.parse(form);
                    if ($(form).valid()) {
                        $('table#itemTable > tbody').append('<tr>' +
                            '<td style="display:none">' + $('#TestID').val() + '</td>' + // MedicineID
                            '<td>' + $('#TestName').val() + '</td>' + // medicine
                            '<td><span class="btn btn-danger fa fa-trash" style="padding: 0px 3px" onclick = "remove(this)"></span></td>' +
                            '</tr>');
                        clearInputs();
                    }
                    return false;
                });

                $('#btnSubmit').click(function () {
                    if (($('#kitForm').find('table#itemTable > tbody tr').length > 0)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                });

                $("#TestName").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/InPatient/GetTestNames",
                            type: "POST",
                            dataType: "json",
                            data: { Prefix: request.term },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.TestName,
                                        value: item.TestName,
                                        id: item.TestID
                                    };
                                }))
                            },
                            error: function () {
                                alert('something went wrong !');
                            }
                        })
                    },
                    select: function (e, i) {
                        $("#TestID").val(i.item.id);
                    },
                    minLength: 1
                });
            });

            function remove(e) {
                $(e).closest('tr').remove();
                if ($('#kitForm').find('table#itemTable > tbody tr').length < 1) {
                    $('#btnDiv').addClass("hidden");
                }
            }

            function clearInputs() {
                $('#TestName').val('');
            }
</script>
