@model List<HIS.PurchaseOrderViewModel>
@{
    Layout = null;
}
<style>
    .ui-widget-content a {
        color: #fff !important
    }

    .table > thead > tr > th {
        text-transform: none;
        font-weight: bold;
    }

    .ui-dialog {
        top: 60px !important;
    }
</style>
@using HIS.HtmlHelpers
@using (Html.BeginForm("EditPO", "PurchaseOrder", FormMethod.Post, new { id = "editPOForm", onsubmit = "return SubmitAdjustPoForm(this)" }))
{
    @Html.HiddenFor(model => model[0].PONumber, new {@id = "PONumber" })
    @Html.HiddenFor(model => model[0].OrderedDate, new {@id = "OrderedDate" })
    <div class="form-horizontal">
        <div class="col-lg-8">
            <div class="form-group">
                @Html.LabelFor(model => model[0].PONumber, "PO#:", new { @class = "control-label col-md-2" })
                <div class="col-sm-4 lableDisplay">
                    @Html.DisplayFor(model => model[0].PONumber, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.LabelFor(model => model[0].OrderDateDisplay, "Order Date:", new { @class = "control-label col-md-2" })
                <div class="col-sm-4 lableDisplay">
                    @Html.DisplayFor(model => model[0].OrderDateDisplay, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="poTable">
                        <thead>
                            <tr>
                                <th style="width:24%">Medicine</th>
                                <th style="width:8%">Order Qty</th>
                                <th style="width:9%">Item(Rs)</th>
                                <th style="width:9%">Sheet(Rs)</th>
                                <th style="width:10%">Batch#</th>
                                <th style="width:10%">Lot#</th>
                                <th style="width:10%">Expiry Date</th>
                                <th style="width:10%">Mfg Date</th>
                                <th style="width:10%">Hosp Price(Rs)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PurchaseOrderViewModel p in Model)
                    {
                        <tr>
                            <td style="display:none">@p.OrderID</td>
                            <td style="display:none">@p.MedicineID</td>
                            <td>@p.MedicineWithDose</td>
                            <td>@Html.EditorFor(model => p.OrderedQty, new { htmlAttributes = new { @class = "form-control orderedQty" } })</td>
                            <td>@Html.EditorFor(model => p.PricePerItem, new { htmlAttributes = new { @class = "form-control pricePerItem" } })</td>
                            <td>@Html.EditorFor(model => p.PricePerSheet, new { htmlAttributes = new { @class = "form-control pricePerSheet" } })</td>
                            <td>@Html.EditorFor(model => p.BatchNo, new { htmlAttributes = new { @class = "form-control batchNo" } })</td>
                            <td>@Html.EditorFor(model => p.LotNo, new { htmlAttributes = new { @class = "form-control lotNo" } })</td>
                            <td>
                                <div id="date-popup" class="input-group date">
                                    @Html.EditorFor(model => p.ExpiryDate, new { htmlAttributes = new { Value = Html.DateFormat(p.ExpiryDate), @class = "expirypicker form-control", @placeholder = "" } })
                                    <span class="btnexpirypicker input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </td>
                            <td>
                                <div id="date-popup" class="input-group date">
                                    @Html.EditorFor(model => p.MfgDate, new { htmlAttributes = new { Value = Html.DateFormat(p.MfgDate), @class = "mfgpicker form-control", @placeholder = "" } })
                                    <span class="btnmfgpicker input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </td>
                            <td>@Html.EditorFor(model => p.HospitalPrice, new { htmlAttributes = new { @class = "form-control hospPrice" } })</td>
                            <td><span class="btn btn-danger fa fa-trash" style="padding: 0px 3px" onclick="remove(this)"></span></td>
                        </tr>
            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td align="right">Total:</td>
                                <td align="left" id="grandQuantity">@Model.Sum(i => i.OrderedQty)</td>
                                <td align="left" id="grandItemPrice">@Model.Sum(i => i.PricePerItem)</td>
                                <td colspan="5" align="left" id="grandSheetPrice">@Model.Sum(i => i.PricePerSheet)</td>
                                <td colspan="4" align="left" id="grandHospitalPrice">@Model.Sum(i => i.HospitalPrice)</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <a class="btn btn-success" id="btnAddNew"><i class="fa fa-plus"></i> Add New Item</a>
                        <input type="submit" value="Update" id="btnSubmit" class="btn btn-primary" />
                        <input type="button" value="Delete Order" id="btnDelete" class="btn btn-danger" />
                    </div>
                </div>
            </div>
            <div class="form-horizontal" id="errorDiv">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
            <div class="row hidden" id="divNewItem" style="padding:15px">
                <div class="col-lg-12">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width:24%" class="required">Medicine</th>
                                <th style="width:8%" class="required">Order Qty</th>
                                <th style="width:9%" class="required">Item(Rs)</th>
                                <th style="width:9%" class="required">Sheet(Rs)</th>
                                <th style="width:10%">Batch#</th>
                                <th style="width:10%">Lot#</th>
                                <th style="width:10%" class="required">Expiry Date</th>
                                <th style="width:10%">Mfg Date</th>
                                <th style="width:10%">Hosp Price(Rs)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" id="MedicineWithDose" class="form-control newItem" />
                                    <input type="hidden" id="MedicineID" />
                                </td>
                                <td>
                                    <input type="text" id="OrderedQty" class="form-control newItem numericonly" />
                                </td>
                                <td>
                                    <input type="text" id="PricePerItem" class="form-control newItem numericdecimal" />
                                </td>
                                <td>
                                    <input type="text" id="PricePerSheet" class="form-control newItem numericdecimal" />
                                </td>
                                <td>
                                    <input type="text" id="BatchNo" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" id="LotNo" class="form-control" />
                                </td>
                                <td>
                                    <div id="date-popup" class="input-group date">
                                        <input type="text" id="ExpiryDateAdd" class="form-control expirypicker newItem" />
                                        <span class="btnexpirypickerAdd input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </td>
                                <td>
                                    <div id="date-popup" class="input-group date">
                                        <input type="text" id="MfgDateAdd" class="form-control mfgpicker" />
                                        <span class="btnmfgpickerAdd input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" id="HospitalPrice" class="form-control numericdecimal" />
                                </td>
                                <td><span class="btn btn-success fa fa-plus-circle" style="padding: 0px 3px" id="btnAdd"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $('#btnSubmit').val('Update Order#:' + $('#PONumber').val());

    $('.expirypicker').datepicker({
        keyboardNavigation: false,
        forceParse: false,
        todayHighlight: true,
        todayBtn: false,
        autoclose:true,
        format: "mm/dd/yyyy",language: "en-US"
    });

    $('.mfgpicker').datepicker({
        keyboardNavigation: false,
        forceParse: false,
        todayHighlight: true,
        todayBtn: false,
        autoclose: true,
        format: "mm/dd/yyyy", language: "en-US"
    });

    $('.btnexpirypicker').click(function () {
        var id = $(this).closest('tr').find('.expirypicker');
        $(id).datepicker('show');
    });

    $('.btnmfgpicker').click(function () {
        var id = $(this).closest('tr').find('.mfgpicker');
        $(id).datepicker('show');
    });

    $('.btnexpirypickerAdd').click(function () {
        $('#ExpiryDateAdd').datepicker('show');
    });

    $('.btnmfgpickerAdd').click(function () {
        $('#MfgDateAdd').datepicker('show');
    });

    // Quantity
    $(".orderedQty").on('change keyup paste mouseup', function () {
        calculateQty();
    });

    // Item Price
    $(".pricePerItem").on('change keyup paste mouseup', function () {
        calculateItemPrice();
    });

    // Sheet Price
    $(".pricePerSheet").on('change keyup paste mouseup', function () {
        calculateSheetCost();
    });

    // Sheet Price
    $(".hospPrice").on('change keyup paste mouseup', function () {
        calculateHospitalPrice();
    });

    $('#btnDelete').click(function () {
        if (confirm('Are You Sure to Delete this Purchase Order?')) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeletePO", "PurchaseOrder")',
                data: { 'poNumber': $('#PONumber').val() },
                success: function (data) {
                    if (data.success) {
                        AdjPop.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                }
            });
        }
        return false;
    });

    $("#MedicineWithDose").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/PurchaseOrder/GetMedicines",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.MedicineDisplay,
                            value: item.MedicineDisplay,
                            id: item.MMID
                        };
                    }))
                },
                error: function () {
                    alert('something went wrong !');
                }
            })
        },
        select: function (e, i) {
            $("#MedicineID").val(i.item.id);
        },
        minLength: 1
    });

    $('#btnAddNew').click(function () {
        $('#divNewItem').removeClass('hidden');
    });

    $(".numericdecimal").keydown(function (event) {

        if (event.shiftKey == true) {
            event.preventDefault();
        }

        if ((event.keyCode >= 48 && event.keyCode <= 57) ||
            (event.keyCode >= 96 && event.keyCode <= 105) ||
            event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
            event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

        } else {
            event.preventDefault();
        }

        if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
            event.preventDefault();
        //if a decimal has been added, disable the "."-button

    });

    $(".numericonly").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });

    $('#btnAdd').click(function () {
        if (isValid()) {
            $('table#poTable > tbody').append('<tr>' +
                '<td style="display:none">' + 0 + '</td>' + // OrderID
                '<td style="display:none">' + $('#MedicineID').val() + '</td>' + // MedicineID
                '<td>' + $('#MedicineWithDose').val() + '</td>' + // medicine
                '<td><input class="form-control orderedQty text-box single-line" id="p_OrderedQty" name="p.OrderedQty" type="number" value="' + $('#OrderedQty').val() + '"></input></td>' + // order qty
                '<td><input class="form-control pricePerItem text-box single-line" id="p_PricePerItem" name="p.PricePerItem" type="text" value="' + $('#PricePerItem').val() + '"></input></td>' + // item cost
                '<td><input class="form-control pricePerSheet text-box single-line" id="p_PricePerSheet" name="p.PricePerSheet" type="text" value="' + $('#PricePerSheet').val() + '"></input></td>' + // sheet cost
                '<td><input class="form-control batchNo text-box single-line" id="p_BatchNo" name="p.BatchNo" type="text" value="' + $('#BatchNo').val() + '"></input></td>' + // batch no
                '<td><input class="form-control lotNo text-box single-line" id="p_LotNo" name="p.LotNo" type="text" value="' + $('#LotNo').val() + '"></input></td>' + // lot no
                '<td><div id="date-popup" class="input-group date"><input value = "' + $('#ExpiryDateAdd').val() + '" class= "expirypicker form-control text-box single-line"  id = "p_ExpiryDate" name = "p.ExpiryDate" placeholder = "" type = "datetime"><span class="btnexpirypicker input-group-addon"><i class="fa fa-calendar"></i></span></div></td>' + // expirty date
                '<td><div id="date-popup" class="input-group date"><input value = "' + $('#MfgDateAdd').val() + '" class= "mfgpicker form-control text-box single-line"  id = "p_MfgDate" name = "p.MfgDate" placeholder = "" type = "datetime"><span class="btnmfgpicker input-group-addon"><i class="fa fa-calendar"></i></span></div></td>' + // mfg date
                '<td><input class="form-control hospPrice text-box single-line" id="p_HospitalPrice" name="p.HospitalPrice" type="text" value="' + $('#HospitalPrice').val() + '"></input></td>' + // Hospital cost
                '<td><span class="btn btn-danger fa fa-trash" style="padding: 0px 3px" onclick = "remove(this)"></span></td>' +
                '</tr>');
            calculateTotals();
            clearInputs();
            $('#divNewItem').addClass('hidden');
        }
        else {
            alert("Please make sure to enter following: \n Medicine \n Quantity \n Item Price \n Sheet Price \n Expiry Date");
        }
    });

    function isValid() {
        var isValid = true;
        $(".newItem").each(function () {
            var element = $(this);
            if (element.val() == "") {
                isValid = false;
            }
        });
        return isValid;
    }

    function clearInputs() {
        $('#MedicineWithDose').val('');
        $('#OrderedQty').val('');
        $('#PricePerItem').val('');
        $('#PricePerSheet').val('');
        $('#BatchNo').val('');
        $('#LotNo').val('');
        $('#ExpiryDateAdd').val('');
        $('#MfgDateAdd').val('');
        $('#HospitalPrice').val('');
    }

    function remove(e) {
        $(e).closest('tr').remove();
        calculateTotals();
    }

    function calculateTotals() {
        calculateQty();
        calculateItemPrice();
        calculateSheetCost();
        calculateHospitalPrice();
    }

    function calculateQty() {
        var qtySum = 0;
        var value = 0;
        $('.orderedQty').each(function () {
            value = parseFloat($(this).val());
            qtySum += isNaN(value) ? 0 : value;
        });
        $('#grandQuantity').html(qtySum);
    }

    function calculateItemPrice() {
        var itemSum = 0;
        var value = 0;
        $('.pricePerItem').each(function () {
            value = parseFloat($(this).val());
            itemSum += isNaN(value) ? 0 : value;
        });
        $('#grandItemPrice').html(itemSum.toFixed(2));
    }

    function calculateSheetCost() {
        var sheetSum = 0;
        var value = 0;
        $('.pricePerSheet').each(function () {
            value = parseFloat($(this).val());
            sheetSum += isNaN(value) ? 0 : value;
        });
        $('#grandSheetPrice').html(sheetSum.toFixed(2));
    }

    function calculateHospitalPrice() {
        var sheetSum = 0;
        var value = 0;
        $('.hospPrice').each(function () {
            value = parseFloat($(this).val());
            sheetSum += isNaN(value) ? 0 : value;
        });
        $('#grandHospitalPrice').html(sheetSum.toFixed(2));
    }
</script>