@{
    ViewBag.Title = "Purchase Orders";
}

<style type="text/css">
    .lableDisplay {
        padding-top: 8px;
        color: #32CD32;
        font-weight: bold;
    }

    .ui-dialog {
        top: 60px !important;
    }

    .fa-5x {
        font-size: 1.6em;
    }
</style>
<!-- Breadcrumb -->
<ol class="breadcrumb breadcrumb-2">
    <li><a><i class="glyphicon-cog"></i>Pharmacy</a></li>
    <li class="active"><strong>Purchase Orders</strong></li>
</ol>

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("CreatePO","PurchaseOrder")')"><i class="fa fa-plus"></i> Create Purchase Order</a>
                <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupPlaceOrderForm('@Url.Action("PlaceOrder","PurchaseOrder")')"><i class="fa fa-plus"></i> Place Order</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="poNumbersList" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Purchase#</th>
                                <th>Order Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
        @section scripts{
            <script type="text/javascript">
                var Popup, dataTable, approvalPop, DelPop, AdjPop;
                $(document).ready(function () {
                    dataTable = $('#poNumbersList').DataTable({
                        "ajax": {
                            "url": "/PurchaseOrder/GetPoNumbers",
                            "type": "GET",
                            "datatype": "application/json",
                            "contentType": 'application/json'
                        },
                        "columns": [
                            { "data": "PONumber" },
                            { "data": "OrderDateDisplay" },
                            {
                                "data": "ApprovedStatus", "render": function (data) {
                                    return data === null || data === 0 ? "Pending" : "Approved";
                                }
                            },
                            {
                                "data": null, "render": function (data) {
                                    if (data.ApprovedStatus === null || data.ApprovedStatus === 0) {
                                        return "@if (His_ExtendedMethods.HasPermissionPage("PurchaseOrder-Approve")){<a class='btn btn-success btn-sm' title='Review' onclick=PopupApprovalForm('@Url.Action("Approve","PurchaseOrder")/?poNumber=" + data.PONumber + "')><i class='fas fa-search his-fa-size'></i></a>} @if (His_ExtendedMethods.HasPermissionPage("PurchaseOrder-EditPO"))
                                        {<a class='btn btn-primary btn-sm' title='Edit' style='margin-left:5px' onclick=PopupAdjustForm('@Url.Action("EditPO", "PurchaseOrder")/?poNumber=" + data.PONumber + "')><i class='fa fa-pencil-alt his-fa-size'></i></a>}";
                                    }
                                    else {
                                        return "@if (His_ExtendedMethods.HasPermissionPage("PurchaseOrder-ViewPO"))
                                        {<a class='btn btn-primary btn-sm' title='View Only' onclick=PopupViewForm('@Url.Action("ViewPO","PurchaseOrder")/?poNumber=" + data.PONumber + "')><i class='fa fa-eye his-fa-size'></i></a>}";
                                    }
                                    
                                },
                                "orderable": false,
                                "searchable": false,
                                "width": "20%"

                            }
                        ],
                        "aaSorting": []
                    });
                });


                function PopupForm(url) {
                    $('body').loadingModal({ text: 'Loading...' });
                    var formDiv = $('<div />');
                    $.get(url)
                        .done(function (response) {
                            formDiv.html(response);

                            Popup = formDiv.dialog({
                                autoOpen: true,
                                resizable: true,
                                modal: true,
                                title: 'Purchase Order Creation',
                                width: '85%',
                                close: function () {
                                    Popup.dialog('destroy').remove();
                                },
                                open: function (event, ui) {
                                    $('.ui-dialog-content').css('overflow', 'hidden');
                                    $('body').loadingModal('destroy');
                                }
                            });
                        });
                }

                function PopupApprovalForm(url) {
                    $('body').loadingModal({ text: 'Loading...' });
                    var approvalDiv = $('<div />');
                    $.get(url)
                        .done(function (response) {
                            approvalDiv.html(response);

                            approvalPop = approvalDiv.dialog({
                                autoOpen: true,
                                resizable: true,
                                modal: true,
                                title: 'Approval Form',
                                width: '85%',
                                close: function () {
                                    approvalPop.dialog('destroy').remove();
                                },
                                open: function (event, ui) {
                                    $('.ui-dialog-content').css('overflow', 'hidden');
                                    $('body').loadingModal('destroy');
                                }
                            });
                        });
                }

                function PopupViewForm(url) {
                    $('body').loadingModal({ text: 'Loading...' });
                    var viewDiv = $('<div />');
                    $.get(url)
                        .done(function (response) {
                            viewDiv.html(response);
                            ViewPop = viewDiv.dialog({
                                autoOpen: true,
                                resizable: true,
                                modal: true,
                                title: 'View Purchase Order',
                                width: '85%',
                                close: function () {
                                    ViewPop.dialog('destroy').remove();
                                },
                                open: function (event, ui) {
                                    $('.ui-dialog-content').css('overflow', 'hidden');
                                    $('body').loadingModal('destroy');
                                }
                            });
                        });
                }

                function PopupDeleteForm(url) {
                    $('body').loadingModal({ text: 'Loading...' });
                    var deleteDiv = $('<div />');
                    $.get(url)
                        .done(function (response) {
                            deleteDiv.html(response);
                            DelPop = deleteDiv.dialog({
                                autoOpen: true,
                                resizable: true,
                                modal: true,
                                title: 'Delete Form',
                                width: '85%',
                                close: function () {
                                    DelPop.dialog('destroy').remove();
                                },
                                open: function (event, ui) {
                                    $('.ui-dialog-content').css('overflow', 'hidden');
                                    $('body').loadingModal('destroy');
                                }
                            });
                        });
                } 

                function PopupAdjustForm(url) {
                    $('body').loadingModal({ text: 'Loading...' });
                    var adjustDiv = $('<div />');
                    $.get(url)
                        .done(function (response) {
                            adjustDiv.html(response);
                            AdjPop = adjustDiv.dialog({
                                autoOpen: true,
                                resizable: true,
                                modal: true,
                                title: 'Adjust Purchase order',
                                width: '85%',
                                close: function () {
                                    AdjPop.dialog('destroy').remove();
                                },
                                open: function (event, ui) {
                                    $('.ui-dialog-content').css('overflow', 'hidden');
                                    $('body').loadingModal('destroy');
                                }
                            });
                        });
                }

                function PopupPlaceOrderForm(url) {
                    $('body').loadingModal({ text: 'Loading...' });
                    var placeOrderDiv = $('<div />');
                    $.get(url)
                        .done(function (response) {
                            placeOrderDiv.html(response);
                            POPop = placeOrderDiv.dialog({
                                autoOpen: true,
                                resizable: true,
                                modal: true,
                                title: 'Place New Order',
                                width: '55%',
                                close: function () {
                                    POPop.dialog('destroy').remove();
                                },
                                open: function (event, ui) {
                                    $('.ui-dialog-content').css('overflow', 'hidden');
                                    $('body').loadingModal('destroy');
                                }
                            });
                        });
                }

                function SubmitForm(form) {
                    $('body').loadingModal({ text: 'Processing...' });
                    var poItems = [];
                    $('#MedicineWithDose').rules('remove', 'required');
                    $('#OrderedQty').rules('remove', 'required');
                    $('#PricePerItem').rules('remove', 'required');
                    $('#PricePerSheet').rules('remove', 'required');
                    $('#ExpiryDate').rules('remove', 'required');
                    var poNumber = $('#PONumber').val();
                    var orderDate = $('#OrderedDate').val();
                    $('#poTable > tbody tr').not(':first').each(function (index, elem) {
                        var tbl = {};
                        tbl.PONumber = poNumber;
                        tbl.MedicineID = $($(this).find('td:eq(0)')).html();
                        tbl.MedicineWithDose = $($(this).find('td:eq(1)')).html();
                        tbl.OrderedQty = $($(this).find('td:eq(2)')).html();
                        tbl.OrderedDate = orderDate;
                        tbl.PricePerItem = $($(this).find('td:eq(3)')).html();
                        tbl.PricePerSheet = $($(this).find('td:eq(4)')).html();
                        tbl.BatchNo = $($(this).find('td:eq(5)')).html();
                        tbl.LotNo = $($(this).find('td:eq(6)')).html();
                        tbl.ExpiryDate = $($(this).find('td:eq(7)')).html();
                        tbl.MfgDate = $($(this).find('td:eq(8)')).html();
                        tbl.HospitalPrice = $($(this).find('td:eq(9)')).html();
                        poItems.push(tbl);
                    });
                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: form.action,
                        data: JSON.stringify(poItems),
                        success: function (data) {
                            if (data.success) {
                                Popup.dialog('close');
                                dataTable.ajax.reload();

                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "success"
                                })
                            }
                            $('body').loadingModal('destroy');
                        }
                    });
                    return false;
                }

                function SubmitApprovalForm(form) {
                    $('body').loadingModal({ text: 'Processing...' });
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: form.action,
                        data: {'poNumber': $('#poNumber').val()},
                            success: function (data) {
                                if (data.success) {
                                    approvalPop.dialog('close');
                                    dataTable.ajax.reload();
                                    $.notify(data.message, {
                                        globalPosition: "top center",
                                        className: "success"
                                    })
                                }
                                $('body').loadingModal('destroy');
                            }
                        });
                    return false;
                }
                
                function SubmitDeleteForm(form) {
                    $('body').loadingModal({ text: 'Processing...' });
                    $.ajax({
                        type: "POST",
                        url: form.action,
                        data: { 'poNumber': $('#poNumber').val() },
                        success: function (data) {
                            if (data.success) {
                                DelPop.dialog('close');
                                dataTable.ajax.reload();
                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "success"
                                })
                            }
                            $('body').loadingModal('destroy');
                        }
                    });
                    return false;
                }

                function SubmitAdjustPoForm(form) {
                    $.validator.unobtrusive.parse(form);
                    if ($(form).valid()) {
                        $('body').loadingModal({ text: 'Processing...' });
                        var items = [];
                        var poNumber = $('#PONumber').val();
                        var orderDate = $('#OrderedDate').val();
                        $(form).find('#poTable > tbody tr').each(function (index, elem) {
                            var tbl = {};
                            tbl.PONumber = poNumber;
                            tbl.OrderID = $($(this).find('td:eq(0)')).html();
                            tbl.MedicineID = $($(this).find('td:eq(1)')).html();
                            tbl.MedicineWithDose = $($(this).find('td:eq(2)')).html();
                            tbl.OrderedQty = $($(this).find('td:eq(3)')).find('.orderedQty').val();
                            tbl.OrderedDate = orderDate;
                            tbl.PricePerItem = $($(this).find('td:eq(4)')).find('.pricePerItem').val();
                            tbl.PricePerSheet = $($(this).find('td:eq(5)')).find('.pricePerSheet').val();
                            tbl.BatchNo = $($(this).find('td:eq(6)')).find('.batchNo').val();
                            tbl.LotNo = $($(this).find('td:eq(7)')).find('.lotNo').val();
                            tbl.ExpiryDate = $($(this).find('td:eq(8)')).find('.expirypicker').val();
                            tbl.MfgDate = $($(this).find('td:eq(9)')).find('.mfgpicker').val();
                            tbl.HospitalPrice = $($(this).find('td:eq(10)')).find('.hospPrice').val();
                            items.push(tbl);
                        });

                        $.ajax({
                            type: "POST",
                            contentType: "application/json",
                            url: form.action,
                            data: JSON.stringify(items),
                            success: function (data) {
                                if (data.success) {
                                    AdjPop.dialog('close');
                                    dataTable.ajax.reload();
                                    $.notify(data.message, {
                                        globalPosition: "top center",
                                        className: "success"
                                    })
                                }
                                $('body').loadingModal('destroy');
                            }
                        });
                    }
                    return false;
                }

                function SubmitPlaceOrderForm(form) {
                    //$.validator.unobtrusive.parse(form);
                   // if ($(form).valid()) {
                        $('body').loadingModal({ text: 'Processing...' });
                        var items = [];
                        var orderNo = $('#OrderNo').val();
                    var orderDate = $('#OrderDate').val();
                    if ($(form).find('table#orderTable tr').length >= 2) {
                        $(form).find('#orderTable > tbody tr').each(function (index, elem) {
                            var tbl = {};
                            tbl.OrderNo = orderNo;
                            tbl.MedicineID = $($(this).find('td:eq(0)')).html();
                            tbl.MedicineWithDose = $($(this).find('td:eq(1)')).html();
                            tbl.Quantity = $($(this).find('td:eq(2)')).html();
                            tbl.PlacedQty = $($(this).find('td:eq(3)')).find('.placeQty').val();
                            items.push(tbl);
                        });
                    }
                    else {
                        var tbl = {};
                        tbl.OrderNo = orderNo;
                        tbl.MedicineID = 0;
                        items.push(tbl);
                    }
                    $(form).find('#headerDivdp').append("</br><table><tr><td>Order No: " + orderNo + "</td></tr><tr><td >Order Date: " + orderDate + "</td></tr></table>");
                    $(form).find('#headerDivdp').append($(form).find('#orderTable'));
                    $('#thd').find('th:last').remove();
                    $("#tbd tr").each(function () {
                        $(this).find('td:last').remove();
                    });
                        $.ajax({
                            type: "POST",
                            contentType: "application/json",
                            url: form.action,
                            data: JSON.stringify(items),
                            success: function (data) {
                                if (data.success) {
                                    $('#headerDivdp').printThis({
                                        header: '<img src="http://sravanthihospital.in/light/images/hms-logo_login.png" style="width:420px;" alt="Mouldifi" title="Sravanthi Hospitals">',
                                        footer: false,
                                        pageTitle: ""
                                    });
                                    POPop.dialog('close');
                                    dataTable.ajax.reload();
                                    $.notify(data.message, {
                                        globalPosition: "top center",
                                        className: "success"
                                    })
                                }
                                $('body').loadingModal('destroy');
                            }
                        });
                    //}
                    return false;
                }
            </script>
                    }


